{# # Special Publications template # ----------------- # # This template gets loaded whenever the site's homepage is requested,
because # the "Homepage" single-entry section's Template setting is set to "index". # # An `entry` variable will be automatically
passed to this template, which will # be set to the Homepage entry. -#} {% extends "_layouts/site" %} {% block main %}
<!-- Specials Page-->
<div id="CS-page">

  <!-- Image showcase -->
  <section class="content-showcase showcase">
    <div id="carousel-featured" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">

        <!--Slides -->
        <!--First Slide -->
        <!--Not ideal that there are lsits for the first slide and rest of the slides-->
        {# Loop through this pages featured articles entries#} 
        {% set article =entry.featuredPublications.first() %} 
        {% set image = article.publicationsBanner.first()%} 
        {% if image %}
        <div class="item active">
          <a href="{{article.url}}">
					<img src="{{ image.getUrl('banner') }}" alt="">
					<div class="carousel-caption">
						<h2>Featured</h2>
						<h3>{{article.title}}</h3>
					</div>
					</a>
        </div>
        {% endif %}
        <!--Other Slides -->
        <!--Loop through this pages  featured articles entries but exlude the 1st one-->
        {% for article in entry.featuredPublications %} 
        {% set image = article.publicationsBanner.first() %} 
        {% if image %}
        <!--Ignore the 1st item because its handled seperately above-->
        {% if loop.index != 1%}
        <div class="item">
          <a href="{{article.url}}">
					<img src="{{ image.getUrl('banner') }}" alt="">
					<div class="carousel-caption">
						<h2>Featured</h2>
						<h3>{{article.title}}</h3>
					</div>
					</a>
        </div>
        {% endif %} 
        {% endif %} 
        {% endfor %}
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-featured" role="button" data-slide="prev">
	          <span class="glyphicon icon-prev" aria-hidden="true"></span>
	          <span class="sr-only">Previous</span>
	        </a>
      <a class="right carousel-control" href="#carousel-featured" role="button" data-slide="next">
	          <span class="glyphicon icon-next" aria-hidden="true"></span>
	          <span class="sr-only">Next</span>
	        </a>
    </div>
  </section>
  <!-- grid-->
   <section class="content-grid thumbnails content-small">
    <!--Cover thumbnails-->
    {# Loop through this pages magazine entries#} 
    {% for publication in entry.publicationsMagazines %} 
    {% set image = publication.publicationsCover.first()%}
    {% if image %}
    <article class="col-xs-6 col-sm-4">
      <img src="{{ image.getUrl('cover') }}" alt="{{ image.title }}"  class="img-responsive">
      <p><b>{{publication.articleAuthor}}</b>({{publication.articleRole}})</p>
      {{publication.articleSummary}}
      {% if publication.available %}
        <button type="button" class="btn orange"><a href="#">buy</a></button>
      {% else %}
       <button type="button" class="btn orange"><a href="#">download</a></button>
      <!--Sold out-->
      <!--<button type="button" class="btn sold"><a href="#">Sold Out</a></button> -->
      {% endif %}
    </article>
    {% endif %} 
    {% endfor %} 
    {# Add blank covers if not enough covers #}
    <!--blank cover-->
    <article class="col-xs-6 col-sm-4">
      <img src="{{ siteUrl }}images/site/cover-placeholder.png">
    </article>

    <!--Hidden cover for odd to even rows-->
    <article class="hidden-xs col-xs-6 col-sm-4">
      <img src="{{ siteUrl }}images/site/cover-placeholder.png">
    </article>

  </section>

    

</div>
{% endblock %}