/*a Pixelzoo theme*/
/*Cityscape Styles - v12*/
/*Sections*/

#CS-header .img-responsive {margin: 1px auto;}
#logo {
  background: $color-grey-light;
  padding:40px 10px 8px 10px;
  .small { display:none;}
}
#CS-page{
  clear: both;
  max-width: $main-page-width;
  margin-bottom:100px;
  margin: 1px auto;
  height: auto;
  overflow-x: hidden;
  .container{max-width: $main-page-width; }
  section, .clear-row{clear: both;}
}
#CS-footer{
  clear: both;
  color: $color-white; padding-top: $gutter-thin; /* bottom of cspage whitespace*/
  .container {width:100%;}
}

/* text resets */
.btn, .title-block h2 {letter-spacing: $letter-wide; font-weight: 600;}
h1, h2, h3 {letter-spacing: $letter-normal;  font-weight: 900;}
b, strong {font-family: $font-stag-semibold; font-weight: 600; text-shadow: none;}
p {clear: both;} /* font-weight: 600;*/

/*Navbar*/
#CS-header {
  nav{
    border-radius:0; border:none;
    background: $color-grey-dark;
    max-width: $main-page-width;
    width:100%;
    margin: 0 auto;
    a{color: $color-white; font-family: $font-raleway; font-size: 11.5px; text-transform: uppercase; letter-spacing: 0.1em; font-weight: 600;}
    li {border-right: solid 1px $color-white;}
    li:nth-child(6) {border-right:0;} /*width of navbar visually affected by the right border */
    li li a{color: $color-grey-dark;}
    .active > a {background: $color-red;}
    ul li{
    width: 15.6667%; /* fallback for non-calc() browsers*/
    width: calc(100% / 6 ); /*$nav-item-total*/ box-sizing: border-box;
    }
  }
  .nav-language, .nav-login  {
    background: $color-grey-dark;
    li a {
      min-height:30px;
      padding:8px 5px 8px 8px;
      font-size:10px!important;
      letter-spacing: 0.12em !important;
    }
    li:last-child {border-right:0;}
  }
  .nav-login {
    float:right; margin-top:-96px;/*adjust position for nav login*/
    li {
      border-right: 0!important;
      border-left: 2px solid $color-grey-light;
      min-width: 165px;
    }
  }
    .mobile-nav-login {display: none;}
  .nav-language  {
    float:left; margin-top:-30px;/*adjust position for nav language*/
    li {
      display: inline-block;
      width: auto; /*62px;*/
      a { margin-top: -1px; padding:8px 5px 8px 7px; }
      &:last-child { margin-left:-5px;}
    }
  }
}
/*general nav resets*/
.navbar{ max-height: 65px;
  .navbar-collapse { text-align: center;  padding-right:0;  padding-left:0;}
  .navbar-nav { display: inline-block; width:100%;
   > li > a:hover{  background: $color-grey-light; color: $color-grey-dark!important;}
   > li.active > a:hover{  color: $color-white!important;}
  }
}
.nav > li > a { min-height:65px; padding: 20px 0 0 0;}

/* about page tabbed filter overide*/
.nav.nav-tabs {
  padding: 0; margin: 0; border: none;
  & > li { margin-bottom:0;}
 .title-block a, .title-block h2  {padding-top:2px;}
 .active .title-block {
   background: $color-dark-pink;
   a {text-decoration: none;}
  }
}


/* sub nav drop down */
#CS-header nav .dropdown-menu {
  border-radius: 0; border-color:#ffffff; border-width: 0 1px 1px 1px; margin-left:-1px; padding:0;
  min-width:203px;
  background-color: $color-grey-dark;
  li {
    width:100% !important; background: transparent;
    border-top: solid 1px #ffffff; border-right:none;
    text-align: left;
  a { width:100%; min-height:3em; padding-top:1em;
      text-transform: capitalize; color: $color-grey-heavy;
    }
  &.active > a {color:$color-red; background-color:#f5f5f5;}
  }
}

/*SHOWCASE Styles*/
/* Carousel Feature*/

.content-sidebars .showcase {background-color: #fff;}

.showcase , .modal-content {
  width:100%;
  article {position: relative; overflow: hidden; width: 100%;}
  .breadcrumb{ /*overlay breadcrumb on showcase img*/
    margin-bottom:-10px;
    position: absolute;
    z-index: 99;
    margin-top: 0px;
  }
  .carousel-caption{
    left:0; right: 0; bottom: 0;
    padding: 0;
    margin-left: 0;
    background-color: $overlay-grey;
    text-shadow: none;
    text-align: left;
    h2{ color: $color-white; font-family: $font-raleway; font-weight: 700;
      text-decoration: none; text-transform: uppercase;
      font-size: $font-size-small; margin-top: 15px; margin-bottom: 0; padding-bottom: 4px;}
    h3, h3 a{ color: $color-white; font-size: 29px; font-family: $font-raleway;
      text-decoration: none; text-transform: uppercase; font-style: italic;
       margin-top: 0; padding-bottom: 20px; padding-top: 0; letter-spacing: 0.1em;}
  }

  .carousel-caption-black {
  h2 {color:#000000; padding-bottom: 2px;}
  h3 {color:#000000; font-size: 36px; letter-spacing: 0.075em;
    a {color: #000000;}
    }
  }

.carousel-caption-home {
  padding: 0 28px; height: 113px;
  h2 {padding-bottom: 7px;}
	h3 {line-height:1; letter-spacing: $letter-normal; margin-bottom: 0;}
}

  .carousel-caption-film {
    h2, h3 {padding:0 $gutter-double; margin:0;}
    h2 {color: #fff;font-size: 14px; padding-bottom: 7px; padding-top: 23px;}
    h3 { font-size: 30px; letter-spacing: 0.075em; padding-bottom: 38px;
      a {color:#000000;}
    }
  }

  .featured-excerpt {
    font-family: $font-stag-body;
    font-size: 13px;
    letter-spacing: $letter-wide;
    line-height: 1.25;
    color: #000;
    text-shadow: #000 0px 0px 0px;
    padding: 20px;
    margin-bottom: 2px;
    height: auto;
    background: #d4d4d4;
  }

  &.title-header img, &.vert-red img{ padding-bottom: $gutter-thin;}
  &.title-header .film-thumbnail img, &.slideshow img, &.magazine img { padding-bottom: 0;}
}

/*Magazine showcase slider styles */

.showcase-magazine {
  .item , .item > .active {height: 100%;}

  .carousel-inner {
    img {margin-bottom: 130px;}
  }

  .carousel-caption { padding-left: 0px;
    bottom: 0;
    h2 {font-size: 14px;
      margin-top: 18px;
      margin-bottom: 8px;
      padding-left: 40px;
      }
      h3 {padding-bottom: 27px; padding-left: 40px;}
      .featured-excerpt {padding-left: 40px; padding-right: 20px; background: #d4d4d4; min-height: 140px;}
    }


}

/*slider dots*/
.carousel-indicators {
  left: 33%;
  bottom: 113px;
  text-align: left;
  li , li.active{width:20px; height: 20px; background-color: #fff; border: 0px; margin: 0;}
  li.active {background-color:#ff0000;}
}

#carousel-gallery .carousel-indicators {
  text-align: center;
  left: 50%;
  bottom: 55px;
  li , li.active {width: 11px; height: 11px;}
}

.carousel-indicators-magazine {
  text-align: right;
  right: 0;
  left: auto;
  padding-right: 60px;
  bottom: auto;
  top: 75%;
}

#carousel-gallery .caption {line-height: 1.1; letter-spacing: 0.02em; padding: 10px 20px; min-height: 60px; overflow: hidden;}


/*square Next and back slides*/
.carousel-control {
  width:50px;
  top:30px; bottom:108px;  margin-left: 28px;
  background-image: none!important;
  &.right { left: 32px; }
  .icon-prev, .icon-next, .icon-fscreen {
    margin-top: 150px; margin-left: 0px;
    left:20%; top: auto; bottom:10px;
  }
  &.square{
    opacity: 1;
    .icon-prev, .icon-next, .icon-fscreen {
      position: absolute;
      width:30px; height:30px;
      text-shadow:none; color: $color-grey-dark;
      font-family:  $font-raleway;
      font-size: 30px; padding-top:12px;
      background: $color-white;
      opacity: 1; line-height: 0;
    }
    .icon-fscreen {
     background:  #ffffff url('../images/icon-fscreen.png');
     background-repeat: no-repeat;
     background-position: center;
   }
  }
  &.fscreen {
    left: 64px;
  }
}
 .showcase-magazine .carousel-control {
   top:0px; bottom:250px;  margin-left: 30px;
 }
 .modal-dialog .modal-content .carousel-control.moveup, .carousel-control.move-up {bottom:150px;}
 #carousel-gallery .carousel-control { top:0px; bottom:55px;  margin-left: 10px; }
 #carousel-gallery .featured-excerpt  {margin-bottom: 0;}

#carousel-photo .carousel-control {bottom: 260px;}


.carousel-inner > .item > img, .carousel-inner > .item > a > img { width: 100%;}
.content-sidebars .showcase .carousel-inner .item img { margin-bottom: -1px; }
.caption {font-size:11px!important; background: $color-grey-medium!important;}
.gallery {padding-top: 0.3em; padding-bottom: $gutter-default;}

#myModal {padding-right: 0!important;
  background: rgba(0, 0, 0, 0.8);
}

.modal-dialog {
  position: relative;
		margin: 0;
		width: 100%;
    height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
   /* max-width: 100%;  1024px changed so modal fills screen*/
   .modal-content {background: #000; box-shadow: none; border: none; border-radius: 0; max-height: 100vh;
      .carousel-caption {position: absolute; bottom: 0; min-height: 130px; height: auto;
        .photo-caption , .featured-excerpt {padding-left: 40px; padding-right: 30px;}
        #carousel-gallery .caption {min-height: 60px; }
        #carousel-gallery .carousel-control {top: 10px;}
      }
      .carousel-control {bottom: 130px;}
      .item {height: auto; max-height: 100vh;}
      .breadcrumb {
        padding-left: 28px;
      }
   }
  .modal-body {width: 100%; overflow: hidden; padding: 0; height: 100%;
   img {width: 100%; height: auto;}
  }
  .modal-header {
    padding: 0px; border-bottom: none;
    position: absolute; right: 0; top: 0;
    z-index: 999;
  }
  .modal-header .close {
    margin-top: 5px; margin-right: 10px; border: none;
    background: transparent;
    font-size: 60px; color: white;
  }
}

  .modal-body #carousel-featured , .modal-body #carousel-photo {margin-top: 0 !important;}


/*cover articles with overlays and showcase headers */
.title-header {
   img {width: 100%;}
  .title-header-overlay {
    width: calc(100% - (2 * #{$gutter-thin})); /* twice gutter of the .cover */
    padding: 24px 0 30px; position: absolute;  bottom: 0;
    background-color: $overlay-grey; text-align: center;
    color: $color-white;  font-style: italic;
    .title{
      padding: 4px 0 0 0; margin: 0;
      font-family: $font-raleway; text-transform: uppercase;
      font-size: 60px;
      letter-spacing: 0.075em;
      a {text-decoration: none; color: $color-white;}
      }
    .tag{
      background: $overlay-red;
      font-family: $font-raleway; font-size: 14px; font-weight: 600;
      text-transform: uppercase; font-style: normal;
      letter-spacing: 0.2em;
      padding: 0.4em;
      display: block; margin: 0 auto; max-width: 20%; min-width: 150px;
      &.long{max-width:40%;}
      }
      .tag-darker {background: $overlay-red-darker;}
    p{
      margin: 0;
      padding: 0 30px;
      font-family: $font-raleway; font-style: normal;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.075em;
      }
    }
    .overlay-darker {background: $overlay-grey-darker;}
    .vert-center {
      font-style: normal;
      position: absolute; top: 33.3%; bottom: 33.3%;
     }
    .vert-red{
      background: $overlay-red; font-style: normal;
      position: absolute; top: 33.3%; bottom: 33.3%;
      p{text-transform: uppercase;}
    }
    &.magazine{ border-left: 2px solid $color-white;}
}
.slideshow .title-header.magazine {border-left: 0 solid ;}
.magazine .title-header-overlay { width: 100%; bottom: 0; top:initial; .title{font-size:46px;}} /*for overlay on magazine layout*/
.showcase .title-header-overlay { width: 100%;}
.masonry .title-header-overlay{  width: calc(100% - (2 * #{$gutter-thin})); bottom: $gutter-thin; /*for project overlay on masonry layout*/
        p {color: $color-white;}
        h1.title{ font-size: 36px;}
        h2.title{font-size: 24px;}
}

/*Magazine Film styles for video play icon overlay */

  .film-thumb-overlay-container {
    position: relative;
  }

  .film-thumbnail {
    position: relative;
  }

  .film-thumbnail img {padding-bottom:0;}

  .play-overlay-icon {
    position: absolute;
    display: block;
    top: 30%;
    left: 38%;
    max-width: 24%;
    opacity:0.36;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .film-thumb-overlay-container:hover .play-overlay-icon {
    opacity:0.5;
  }


.masonry .col-sm-4.title-header img {max-height: 392px; overflow: hidden; }
.masonry.projects .col-sm-4.title-header img {max-height: initial;}



/*Page Text Styles */
.content-text, .content-grid{
  font-family: $font-stag-body;
  p, hr, h1, h2, h3, h4, ul { padding:12px 0; margin: $gutter-wide 0;}
  p {font-family: $font-stag-body; font-size: $font-size-default; color:$color-black;
    letter-spacing: 0.1em; line-height: 1.2; padding: 2px; text-shadow: #000 0px 0px 0px;}
  .person  {
    color: $color-pink;
    font-weight: normal;
    b {text-transform: uppercase;}
   }
}
.content-text.breadcrumbs{ /*same as btn breadcrumbs and title-block*/
  width:101%; margin-left: -1px;
  article{  width:25%; float: left;   padding-bottom: $gutter-thin;}
  a {font-size: 11px; font-weight: 700;}
  .btn { min-width: 100%; background: $color-grey-dark; border-color:$color-white;
  &.current{background: $color-red;}
  a {font-size: 11px; font-weight: 700;}
   }
}

.content-small p {font-size:13px; padding: 0.3em 0;}
.space-top {padding-top: 15px;} /* Extra 20px padding for project about page - only page that has it */
.space-bottom {padding-bottom: 15px;}
.content-sidebars aside .breadcrumb.space-top {padding-top: 7px; background: white;}

blockquote {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  letter-spacing: $letter-normal;
  padding: 53px 60px 40px 60px;
  line-height: 1.2em;
  margin: $gutter-default 0 $gutter-default $gutter-double;
  border-left:0;
}

.article-login a {font-family: $font-raleway; font-weight: 700; color: #000;}

/*article image + caption*/
figure {position: relative;}
figcaption {
  font-family: $font-raleway;
  font-size: 10px;
  font-weight: 500;
  letter-spacing:$letter-normal;
  background: rgba(161,161,161,0.95);
  padding: 14px 25px;
  position: absolute;
  margin: 0 $gutter-double;
  left: 0;
  right: 0;
  bottom: 8px;
}

/*Buttons & Breadcrumbs */
.title-block{ /*same as btn breadcrumbs*/
  background: $color-grey-medium;
  float:left; padding: 0;  border: 1px solid $color-white; min-width: 170px; text-align: center; margin-bottom: 10px;
  h2, a {
      color: $color-white;
      font-family: $font-raleway;
      text-transform: uppercase;
      font-size: $font-size-small;
      letter-spacing: $letter-wide;
      padding: 1px 5px;
      font-weight: 700;
    }
  &.orange{ background: $color-red; margin: 80px auto; }
  &::after{clear: both;}
}

.title-d-pink {background: $color-dark-pink;}
.title-red {background: $color-red;}
.btn{
  &, a {
    color: $color-white;
    font-family: $font-raleway;
    border-radius: 0;
    text-transform: uppercase;
    font-size: $font-size-small;
    letter-spacing: $letter-wide;
    padding: 5px 19px;
   }
  background-color: $color-green;
  border-color: $color-green;
  padding: 0;
  &.no-click{cursor: initial; }
  &.sold{ background-color: $color-red; border-color: $color-red;}
  &.orange{ background-color: $color-red; border-color: $color-red; min-width:180px;}
  &:hover, &:focus, &.focus{ color: $color-white;}
}
.counting-block {
   width: calc(33.3% - 0.6em + 1px);
   background: $color-red;
   margin: 5px 0;
   article{ float:left; margin-bottom:0; border-top: none; border-bottom:none; }
   .count-wide{
     min-width:auto;  border: none;
     /*min-width:calc(100% - (6 * 30px));  set amount of count blocks */
   }
  .title-block.count{
    float:left;
    min-width:25px;
    h2,a {padding:2px, 10px;}
  }
}

/* magazine cover pagination */
.cover-paging{ position: absolute; margin-top:-30px; width: calc( 100% + 1px);
  ul{
    margin-bottom:0; padding:0;
    .btn, li { min-width: 11.1% !important; border:none; width: auto;
    display: block; float: left;
     padding:6px 0;
    }
    a{ float:none; padding:4px 0;}
  }
  ul .pagenav{background: $color-grey-darker;  }
  .grey{ background: $color-grey-dark;}
}
.carousel-indicators.carousel-pagin {
    left: 0; bottom: 0;
    position: relative;
    width: 100%;
    margin: 0; padding: 0; list-style: none; text-align: center;

    li{
      text-indent: 0;
      border-radius: 0;
      padding-bottom:25px;
    }
}

/*GRID styles and spacing of items thumbnails cover videos*/
.cover-section{}
.cover-recommend, .cover-headline { /*12 | 20 |12 |14pt -check font sizes*/
  color: $color-black;
  letter-spacing: $letter-normal;
  img { /*max-height:230px;*/ padding:0 0 10px 0; margin: 0 auto; width: 100%;}
  h2 { font-family: $font-raleway; font-size: $font-size-small; text-transform: uppercase;
       padding:10px 20px 0 30px;  margin: 0; }/*tag*/
  h1 { font-family: $font-raleway; font-weight: 900; font-style: italic; font-size: $font-size-h4; text-transform: uppercase;
      padding:10px 20px 0 30px;  margin: 0; width:100%; overflow: hidden;
      a {color: #000000; text-decoration: none;}
    }/*title*/

  h1.film, p.film, h4.film, h2.film {padding-left:20px;} /*padding is different on Film page, not sure if we should just ignore but added it anyway*/
  h1.film {padding-top: 7px; letter-spacing: 0.1em;}
  p.film {padding-top: 8px; margin-bottom: 9px; letter-spacing: $letter-normal;}
  h4.film {letter-spacing: 0.1em;}

  p { font-family: $font-stag-body; font-size: $font-size-small;
     padding:10px 25px 0 30px; margin: 0 0 10px 0; max-height: 65px; overflow: hidden;
  }/*summary*/
  h4 { font-family: $font-raleway; font-weight: 700; font-style: italic; font-size: $font-size-default; text-transform: uppercase;
     padding:0 30px 20px;  margin: 0;
  }/*author*/
        &.pink {background: $color-pink; }
        &.blush {background: $color-blush;}
        &.rosy{background: $color-rosy;}
        &.mint{background: $color-mint;}
        &.sunny {background: $color-sunny;}
}
.content-grid {
  &.breadcrumbs {
    margin-left: -$gutter-thin;  margin-right: -$gutter-thin;
    article { /*breadcrumbs section to take grid styles*/
    padding:0.6em $gutter-thin $gutter-thin;  margin: 0;
    }
  }
&.cover{ /*defaults */
    margin-left: -$gutter-thin;  margin-right: -$gutter-thin; /* fixes for main placement of outer grid --cover*/
    article {
      padding:$gutter-thin;  margin: 0;
      img {width:100%; max-height: $height-cover;}
      .btn{ /*btn for sold / buy*/
        position: absolute; right: 0.4em; top: 50%;
        a{font-size: 12px; padding:1em;}
        }
       &.breadcrumbs .btn{ position: relative; right:0; top: 0; }
    }
  }
  &.cover article {
    &.cover-recommend, &.cover-headline, &.quote {
      max-height: $height-cover; min-height: $height-cover; overflow: hidden; clear: right;
      padding: 0;
      margin: $gutter-thin;
      &.col-sm-4 {width: calc(33.3% - 0.6em);}
      /* see responsive section for widths*/
    }
    &.cover-headline{
       max-height:110px;  min-height:110px; padding-top:25px;
    }
  }
  &.mixed{/* for col 2|1  -homepage*/
    padding:0;
    &.col-sm-8 {
      padding:0; padding-top:$gutter-thin;
      margin-left: -$gutter-thin;
      margin-right:0;
      width: calc(66.67% + 0.6em);
      &.invert{
      clear: none !important;
      margin-left: 0;
      margin-right: -$gutter-thin;
      .col-xs-6 {width: calc(50% - 0.6em);}
      }
    }
    &.col-sm-4 {
      clear: none !important;
      padding-left: 0; padding-top:$gutter-thin;
      margin-right: -$gutter-thin;
      margin-left:0;
      min-width:33.3%;
      width: calc(33.3% - 0.6em);
      &.invert{
      clear: both !important;
      margin-right: 0;
      margin-left: -$gutter-thin;
      .col-xs-12 {width: calc(100% - 0.6em);}
      }
     }
     &.bottom-margin {margin-bottom: 5px;} /* extra space below grid for magazine page*/
  }

  &.thumbnails article {/* wider gutter than cover on about page*/
    padding: 0 5px 10px;
    &.col-sm-4:nth-child(3n+1) {padding-left:0; padding-right:10px; clear:both;}
    &.col-sm-4:nth-child(3n) {padding-left:10px; padding-right:0;}
  }
  &.videos{
    padding: 0;
  }
  &.post-list {
    padding-top:$gutter-wide;
    margin: -$gutter-default;
    article {
      padding:0;
      img {width:100%; }
      margin: $gutter-default;
      }
    p, h1, h2, h3, h4 {padding: $gutter-default;}
    .col-sm-4{ width: calc(30% - #{$gutter-default});/*auto calc */
      /*section removed?
      article, .title-block.red { margin-left:1em; margin-right:0;}
      }
    .col-sm-4:first-child{ width:$width-leftbar;
      article,.title-block.red { margin-left: 0;} */
      }
    .post-summary {
      padding-top:5px;
      article {background: $color-grey-light; }
    }
    p {font-family: $font-stag-body; font-size: $font-size-small; padding: $gutter-default;}
    h3{
      font-family: $font-stag-body; font-size: $font-size-big; text-transform: uppercase;
      font-weight: 900; padding-top: 1em;
      margin: -4px 0;
    }
 }
}

/* Sidebar and right content styles */
#CS-page .content-sidebars section{clear:none;} /*this is for clears -- for magazine layout */

/*top of page gaps standard */
.content-sidebars, .showcase { border-top: 0px $color-white solid;} /*this is 1px from header nav border*/
.showcase.magazine, .content-sidebars .showcase {border-top: none;}

.content-sidebars {
  aside { padding:0;
    .breadcrumb {
      .btn, a {width:100%; padding-left: 0; } /*don't think this is actually a link so might need to move these styles to a heaidng type */
      .btn { text-align :left; padding: 1em 56px !important; font-weight: 700; letter-spacing: $letter-normal; font-size: 14px;}
    }
  }
  section { background: $color-white; padding:0;}
  p, h1, h2, h3, h4, figure { padding:$gutter-wide $gutter-double; margin:0;}
  hr {padding: 0; margin-bottom: 15px; margin-top: 10px;}

  color: $color-black;
  p {font-family: $font-stag-body; font-size: $font-size-default; letter-spacing: 0.14em; line-height: 1.32; text-shadow: #000 0px 0px 0px;}
  h3{font-family: $font-raleway; font-size: $font-size-big; text-transform: uppercase; font-style: italic; line-height: 1;}
  h4.date {font-family: $font-raleway; color: $color-dark-pink; font-weight: 900; font-size: 15px; letter-spacing: 0.055em; padding-top: 25px; padding-bottom: 16px;
      .author{text-transform: uppercase;}
    }
  h4.date-magazine {padding-top: 10px; padding-bottom: 20px;}
  article h2 {font-family: $font-stag-bold; font-size: 15px; letter-spacing: 0.1em; padding-bottom: 12px;}
  }

  .side-menu{ width: $width-leftbar; background:#e2e2e2;}
  .side-summary {width: calc(#{$width-leftbar} + 2px); background:#e2e2e2;}/*standardize width because of the border on the sidemenu */
  .side-summary.zebra {width: calc(#{$width-leftbar});}/*zebra width sidemenu */
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }


.side-summary, .post-summary {
  background:#efefef;
  .selected h3 a{  color: $color-white;}
  h3{padding: $gutter-default; padding-bottom:0; padding-left: 25px;}
  h3 a{ /*text-decoration: none;*/ color: $color-black;}
  p {padding: $gutter-default; padding-top:5px; padding-left: 25px; line-height: 1.5em; font-size: $font-size-small; text-shadow: #000 0px 0px 0px; letter-spacing: $letter-normal;}
  .selected{background: $color-crimson!important; color: $color-white;
    p {text-shadow: #fff 0px 0px 0px;}
    }
  .selected-dispatches {background: $color-dark-pink !important; color:$color-white;
  p {text-shadow: #fff 0px 0px 0px;}
  }
}



/*Styles: Zebra */
.zebra article:nth-child(even) { background: transparent; }
.zebra article:nth-child(odd)  { background: #f9f9f9; }

/* Extras side menu */
nav.sub-menu{
  ul {
    li {
      margin: 10px 0;
      background: #c2c2c2;
      &.active {background: $color-pink;}
      h4 {
        padding: 17px 56px 0;
        color: #a1a1a1;
        font-size: 11px;
        text-transform: uppercase;
        font-family: $font-raleway;
        font-weight: bold;
        letter-spacing: $letter-normal;
      &.white{color:$color-white;}
      }
      a {
        padding: 6px 56px;
        color:#5a5a5a;
        font-size: 11px;
        font-family: $font-raleway;
        letter-spacing: 0.075em;
        line-height: 1.2;
        min-height: 46px;
      }
      a:hover {background: none; }
      }
    }
}

/*magazine headers (this means there is a sidebar on the page)*/
.magazine {
  &.col-sm-9 { width:$width-rightbar;}
  .issue {top:0;position: absolute; min-width:165px;border-left:1px solid $color-white; border-bottom: 0;}
  .showcase{    margin:0 0 0 $gutter-double; } /*style inside magazine layout = rightside*/
  .intro {font-family: $font-raleway;  font-weight: 700; text-shadow: none; letter-spacing: 0.1em; font-size: 14px; line-height: 1.2em; padding-top: 0; padding-bottom: 12px; font-style: italic;} /* somehow there is a font weight 900 on the <i> i think? ignores font weight here - stuck */
  blockquote { background: $color-dark-pink; color: $color-white;}
  .top-gap {padding-top: 22px;}
}
  .top-gap {padding-top: 8px;}

/* Socials = font-awesome */
.social-icons{
  text-align: center;
  padding-bottom:$gutter-default;
  padding-left: $gutter-double;
  float:left; width: 100%;
  a{
    display: inline-block; vertical-align: middle;
  }
  .fa {
    color: $color-white;
      background: $color-black;
      font-size: 1em;  border-radius:30px;
      width: 30px; height: 30px;
      padding-top: 6px;
      margin:5px; float:left;
  }
}

/* Footer styles */
footer{
  background: $color-grey-heavy;
  .fullwide{
    background: $color-grey-darker;
    padding: $gutter-default;
  }

  .footer-narrow {
    max-width: 980px;
  }

  .footer-logo a{
    font-family: $font-raleway;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    color: $color-grey-medium;
    letter-spacing: 0.072em;
    text-decoration: none;
  }
}
.footer-text{
  clear: both;
  font-family: $font-stag-body;
  hr { border-top: 1px solid #444444; margin-top:15px; margin-bottom:10px; }
  p { text-align: center; padding-bottom: 2em;}
}
.footer-menu{
    clear:both;
    font-family: $font-helvetica; font-size:11.5px; letter-spacing: 0.09em; line-height: 1.9em;
    padding: 11px 0;
    a { color: #ccc; }
    ul {
      width:20%; float:left; padding: 0 $gutter-default; margin-bottom: 20px;
      &:first-child { padding-left:0;}
      &:last-child { padding-right:0; padding-left:25px;}
      li {
        list-style: none;
        padding: $gutter-thin 0;
      }
    }
    .foot-menu-head{
      border-bottom: 1px solid #fff;
      max-width: 95px;
      padding-bottom: 0.1em;
      font-family: $font-helvetica-bold; font-weight: 700; font-size: 12px; letter-spacing: 0.1em;
      a {color:#fff; text-decoration: none;}
    }
    .border-left{
      position: relative;

    }
    .border-left:after {
      content: "";
      position: absolute;
      top: 10px;
      margin: 0 auto;
      border-left: 1px solid #fff;
      height: 192px;
      margin-left: -25px;
    }
  }


.footer-res{ font-size:13px; font-family: $font-helvetica-medium-italic; font-style: italic; color: #858585; letter-spacing: 0.05em;}

/*login form style*/
.content-login{
  background: url(../images/showcase-gallery.jpg);
  background-size: cover;
  min-height:720px; height: 100vh;
  padding-top:30px;
  text-align: center;
  .login-box {
    padding: 3em 6em; margin: 0 auto; max-width: 650px;
    background-color: rgba(255,255,255,0.7);
    .logo {max-width:300px; margin: 0 auto;}
    h1 {font-size: 24px;color: $color-red; font-family: $font-raleway; font-weight: 900;}
    h2 {font-size: 18px; font-family: $font-raleway;  font-weight: 900; }
    input {
      background: $color-grey-medium; border:0;  border-radius: 0;
      margin: 3px 2%; padding: 10px 10px;
      width: 46%; float:left;
      font-family: $font-din;font-size:11px; color: $color-white;
      text-transform: uppercase; text-align: center;
      &[type="submit"] {
        width:200px; border-radius: 0; clear:both; float:none;
        background: $color-red;
        font-size:14px;
        letter-spacing: 0.07em;
      }
    }
  }
}

/*pagination hack*/

.collapse.pgin {  display: block;}
#pg1{ position: absolute; z-index: 1;}
#pg2{ position: absolute; z-index: 2;}
#pg3{ position: absolute; z-index: 3;}

/* placeholder to give height to covers hack */
#pg-placeholder {position: relative; z-index: 0;}
.pagin-placeholder {
  img {opacity: 0.01;}
}


/*general flex*/
.flex-container {
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap ;
  justify-content: flex-start;
}
.flex-item{
   margin: 0 auto;
   flex-shrink:1;
  }
