/*Responsive breakpoints*/
/*everything in custom is for desktop*/
body{ background: #ffffff;}

@media only screen and (max-width:980px){
/*but not larger than desktop*/
/*body{ background: #cc0055;}*/

  /*#CS-page {margin:1px 10px;}*/
  .title-header .title-header-overlay {
    &.vert-red, &.vert-center {
    .title{ font-size:50px;}
    .tag { font-size:12px;}
    }
  }

  blockquote {margin: $gutter-default;}

  .masonry .title-header-overlay h1.title {font-size: 32px;}
  .counting-block{width:66.3%;}
}

@media only screen and (max-width:980px) and (min-width:767px){
  /*tablets for LANDSCAPE home */
  .home-content{  width: calc(100% - 1.8em); margin-left: 0.6em;}
  .page-content{  width: calc(100% - 1.2em); margin-left: 0.6em;}
}

@media only screen and (max-width:767px){
/*Half columns for LANDSCAPE to tablets PORTRAIT -magenta*/
/*body{ background: #ff00ff;}*/

#logo {  /*small logo*/
  background: #484D4F; padding: 10px;
  .large{ display:none;}
  .small {display: block; margin:1px 80px 1px auto; }
}
#CS-header { /*hamburger menu*/
  .navbar { max-height:72px;  z-index: 9999;}
  nav {
    background: transparent; margin-top: -72px; height: 72px;
   .navbar-toggle { border: none; background: #34383B; border-radius: 0; margin: 0;  width: 80px;  height: 72px; }
   .icon-bar { width: 32px;  height: 4px;  border-radius: 0; margin: 4px auto; background-color: $color-white!important; }
  }
  nav ul li {/*burger drop*/
    &:nth-child(even){background: $overlay-grey-one;}
    &:nth-child(odd){background: $overlay-grey-two;}
    border-right: none; margin:0 ;float:none; width:100% !important;
    a {
      color: $color-white;
      padding-left: 30px;
      text-transform: capitalize;
      font-size: $font-size-big;
      /*font-family: $font-helvetica-bold; this doesn't look right*/
    }
  }
  .navbar .navbar-nav {
    margin:0;
    background: $overlay-grey-base; width: 50%; float: right;
    min-width: 270px; max-width: 270px; text-align: left;
  }
  .navbar-collapse { overflow-x: hidden; border-top:none;}
  .nav-language{display: none;}
  .nav-login{display: none;}
  .mobile-nav-login {display: block;}
}
#CS-page { /*.grids*/
  .row-eq-height { display: block!important;}
  .content-grid {
    &.cover {
      margin-left: 0.3em;
      margin-right: 0.3em;
       img{max-height: initial;}
    }
    &.cover article.cover-headline.col-xs-6,
    &.cover article.cover-recommend.col-xs-6 {width: calc(50% - 0.6em);}/*width: 100%;*/
    .cover-recommend, .cover-headline {
      overflow: hidden; clear: right;
      padding: 0;
      margin: 0.3em; width:calc(50% - 0.6em);/*width: 100%;*/
      h1 {padding: 10px 20px 10px 30px;}
      h1.film {padding:7px 20px 0 20px;}
    }
    .cover-recommend, .quote{max-height: 440px; min-height: 440px; }
    .cover-headline {max-height: initial; min-height: initial; }
    &.thumbnails{
      margin-left:$gutter-default;
       .img-responsive{ width:100%;}
       article { padding: 0 $gutter-default 10px 0;}
       article.col-sm-6:nth-child(even) {padding-left: 0; padding-right: $gutter-default; }
      }
    &.mixed.col-sm-8{ margin-left: $gutter-thin; margin-right: $gutter-thin; width:auto;}
    &.mixed.col-sm-4{ margin-left: $gutter-thin; margin-right: $gutter-thin; width:auto;}

    &.masonry .col-sm-8 { width:100%; }
    &.masonry .hidden-xs {display: none;}
    &.videos article { padding:0;}

    /*on landscape splits into halves and then one col with correct padding on cyan*/
    &.cover.mixed article.cover-recommend.col-xs-6{width: calc(50% - 0.6em);}
  /*  &.mixed .col-xs-6{width:50%;width: calc(50% - 0.6em);}*/

    .quote{width: calc(50% - 0.6em);}
  }
  .content-text{
    margin-left: $gutter-default; margin-right: $gutter-default;
    &.breadcrumbs {margin-left: 0; margin-right: 0; }
    &.counting-block{ margin-left: 0.6em; margin-right: 0.6em;}
  }
  .breadcrumbs .btn.orange { min-width: 100%; padding: inherit 0;  max-width: 100%; white-space: normal;}
  .magazine.col-xs-12, .side-menu.sub-menu{ width:100%; }
  .side-menu img, .side-summary {width: 100%;}
  .showcase .featured-excerpt, .modal-content .featured-excerpt {font-size: 11px; }
  .modal-content .carousel-caption {
       .photo-caption , .featured-excerpt {padding-left: 40px; padding-right: 10px;}
     }
    .modal-content .carousel-control {bottom: 240px;}
    .modal-content #carousel-gallery .carousel-control {bottom: 80px;}
}


.title-header .title-header-overlay{
  &.vert-red, &.vert-center {
  .title{ font-size:40px;}
  .tag { font-size:12px;}
  p{ font-size:11px;}
  }
}
.title-header.magazine { border-left: 0px solid #ffffff;}
.content-text.breadcrumbs article{  width:50%;}
.flex-order-first{ order:-1;}
.side-menu.col-xs-12, .content-sidebars {width:100%!important; }

.showcase {
  .carousel-caption {
    h3 a {font-size: 26px;}
  }
}

.showcase-magazine {
  .carousel-indicators {display: none;}
  .carousel-caption {
    bottom: 113px;
    padding-left: 0;
    h3 {padding-bottom: 10px; max-width: 100%;}
  }
  #carousel-photo .carousel-control {bottom: 360px;}
  .featured-excerpt {padding: 10px 30px;}
  }

  .magazine .showcase {margin-left: 0;}
  .no-gap{padding-top:12px !important;}

.footer-menu ul{
  width:25%;
  &:nth-of-type(5){ clear: both; padding-left: 0; }
}
  .counting-block{width: calc(98.5% - 0.6em);}

  /*pagination height placeholder hack */
  .pagin-placeholder { display: flex;
    img {max-height: 100%;}
  }

  .modal-dialog .modal-content .modal-body {
    #carousel-photo {height:calc(100% + 200px)!important;}
  }

  .modal-body {width: 100%; overflow: hidden; padding: 0; height: 100%;
   img {width: auto; height: 100vh;}
  }

  #carousel-gallery {
    .caption {min-height: 60px;}
  .carousel-indicators {top: 10px;}
  }

}






@media only screen and (max-width:640px){
/*full width columns for MOBILE asper client examples Cyan
}

@media only screen and (max-width:425px){*/
/*full width columns for PORTRAIT to phones*/
  /*body{ background: #00ffff;}*/
#CS-page{
  .content-grid {
    &.thumbnails{
      .col-xs-6, .img-responsive{ width:100%;}
      article { padding: 0 $gutter-default 10px 0;}
      }
    &.mixed .col-xs-6 {width: 100%;}
    .cover-recommend, .cover-headline,
    .quote {width: calc(100% - 0.6em) !important; max-height:initial; min-height: initial;}
    &.cover article.cover-headline.col-xs-6,
    &.cover article.cover-recommend.col-xs-6 {width: 100%; max-height:initial;}
    .cover-recommend img, .cover-recommend p { max-height: initial;}
    &.cover.mixed article.cover-recommend.col-xs-12,
    &.cover.mixed article.cover-recommend.col-xs-6 {width: calc(100% - 0.6em);}
    &.masonry .col-sm-8 {  min-height: auto;}
    .breadcrumbs .btn.orange{ white-space: normal;}
  }
  .content-text.breadcrumbs .btn.orange{ white-space: nowrap;}
}
.title-header .title-header-overlay{
  &.vert-red, &.vert-center {
  height: 130px;
  }
}



  /*.magazine.title-header-image.col-xs-12,*/ .content-login .login-box input.col-xs-12 {width:100%!important; }
  .showcase .carousel-caption{
    /*display:none;*/
    right: 0;
    h2 {font-size: 0.7em;}
    h3 {font-size: 1em;}
  }

  .title-header {
    .carousel-caption {
    h2 {font-size: 12px;}
    h3 {font-size: 29px;}
    }
  }

  .content-login .login-box { padding: 1em ;}
  .content-grid.post-list .col-sm-4 article, .content-grid.post-list .col-sm-4 .title-block.red {
    margin-left: 0;}

  .content-grid.cover article.cover-recommend.col-xs-6 {width: calc(100% - 0.6em);}
    .content-grid.cover.mixed article.cover-recommend.col-xs-6 img {display: block;}
  .quote.col-xs-6{ width:100%;}
  .cover.masonry .col-xs-6{width:100%;}

  .showcase-magazine {
    .carousel-caption {
      bottom: 0;
      left: 0 !important;
      right: 0 !important;
        h2 {padding-left:10px;}
        h3 {padding-left: 10px;}
        .featured-excerpt {font-size: 11px; padding-left: 10px; height: 200px;}
    }
    #carousel-photo .carousel-control {bottom: 300px; margin-left: 0;}
  }
  .showcase {
    .carousel-caption {
      h3 a {font-size: 19px;}
    }
  }

  .modal-dialog .modal-content .modal-body {
    #carousel-photo {height:calc(100% + 200px)!important;}
    #carousel-photo .carousel-caption {
      .photo-caption {padding-left: 0;}
      h2 {padding-left:10px;}
      h3 {padding-left: 10px;}
      .featured-excerpt {font-size: 11px; padding-left: 10px; height: 200px;}

    }
     img {padding-bottom: 200px;}
    #carousel-photo .carousel-control {margin-left: 0;}
  }




  blockquote {font-size: 25px; padding: 1em;}

  .title-header .title-header-overlay .tag.long {max-width:60%;}
  .masonry .title-header-overlay h1.title {font-size:30px;}


  .fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height:calc(100vh - 127px);
    width:auto;
  }
  .fill img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
      height: 100%;
      width:auto; /*this is needed for header banner widths on static pages */
  }

  .carousel-inner > .item > img, .carousel-inner > .item > a > img {max-width: none; width: auto;}

  .fill .breadcrumb {text-align: left; top: 0; }
  .showcase .carousel-caption-home {left: 0 !important; right: 0 !important;}

  .modal-dialog .modal-body .fill {
    width: 100%;
    height: auto;
  }

  .modal-dialog .modal-content .carousel-caption h3 a {font-size:16px;}
	.modal-dialog .modal-content .carousel-caption h1 a {font-size:30px;}

.footer-alt input, .footer-alt input[type="submit"]{width:100%; margin-left:0;}
.footer-menu ul{
  width:30%;
  &:nth-of-type(4){ clear: both; padding-left: 0; }
  &:nth-of-type(5){ clear: none; width:60%; padding-left:17px;
    &:after { margin: 0; border-left: none; padding:0;}
  }
}

#carousel-gallery .carousel-control {bottom: 70px;}

}

@media only screen and (max-width:420px){

.modal-dialog {
  .modal-content .modal-body img {padding-bottom: 150px;}
}

#CS-page .modal-content .carousel-control {bottom: 180px;}

.modal-dialog .modal-content #carousel-gallery .carousel-caption {bottom: 80px;}

#CS-page .modal-content #carousel-gallery .carousel-control {bottom: 160px;}
}


@media only screen and (max-width:375px){
/*tiniest PORTRAIT to phones - blue*/
/*body{ background: #000fff;}*/

.col-xs-6 {width:100%;}
.content-grid.thumbnails {
  margin-left: $gutter-default; margin-right: $gutter-default;
  article{padding-left: 0!important; padding-right: 0!important;}
}
.breadcrumbs {
  max-width:375px; overflow:hidden;
  .btn.orange { min-width:100%;}
}
.content-text.breadcrumbs article{  width:100%;}
.showcase-magazine {
  .carousel-caption h3, .showcase .carousel-caption h3 a {font-size: 16px;}
}
.showcase {
  .carousel-caption {
    h3 a {font-size: 16px;}
  }
}

.title-header .title-header-overlay.vert-red .title , .title-header .title-header-overlay.vert-center .title{font-size: 1.8em;}
.magazine .title-header-overlay .title {font-size:24px;}
.title-header .title-header-overlay {padding:5px 0;}
.modal-dialog .modal-content .carousel-caption {min-height:10px;}
.modal-dialog .modal-content .carousel-control.move-up, .carousel-control.move-up{  bottom:100px; }
.modal-dialog .modal-content .carousel-control {bottom:300px !important;}
.modal-dialog .modal-content #carousel-gallery .carousel-control {bottom:190px !important;}
.modal-dialog .modal-content .modal-body img {padding-bottom: 110px;}
.modal-dialog {
  .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .icon-fscreen {bottom: 0; margin-top: 0;}
}

#carousel-gallery {
  .caption {height: 100px;}
  .carousel-control {bottom: 95px;}
}

#carousel-gallery

.masonry .title-header-overlay p {display: none;}

.title-header .title-header-overlay .tag.long {max-width:80%;}
.masonry .title-header-overlay h1.title {font-size:24px;}
.footer-menu{
  .foot-menu-head { margin-left: auto; margin-right:auto;}
  ul{
    li {text-align: center;}
    width:100%;
    clear: both; padding-left: 0;
    &:last-child{
      padding-left:0; width:100%;
      &:after { margin: 0; border-left: none; padding:0;}
    }
  }
}
footer .footer-logo{ text-align: center; }
}
