/*hamburger nav opacity*/
/*default is 41px*/
/*default is 34px*/
/*default is 28px*/
/*default is 20px*/
/*a Pixelzoo theme*/
/*Cityscape Styles - v12*/
/*Sections*/
#CS-header .img-responsive {
  margin: 1px auto; }

#logo {
  background: #d7d7d7;
  padding: 40px 10px 8px 10px; }
  #logo .small {
    display: none; }

#CS-page {
  clear: both;
  max-width: 980px;
  margin-bottom: 100px;
  margin: 1px auto;
  height: auto;
  overflow-x: hidden; }
  #CS-page .container {
    max-width: 980px; }
  #CS-page section, #CS-page .clear-row {
    clear: both; }

#CS-footer {
  clear: both;
  color: #ffffff;
  padding-top: 0.3em;
  /* bottom of cspage whitespace*/ }
  #CS-footer .container {
    width: 100%; }

/* text resets */
.btn, .title-block h2 {
  letter-spacing: 0.1em;
  font-weight: 600; }

h1, h2, h3 {
  letter-spacing: 0.075em;
  font-weight: 900; }

b, strong {
  font-family: "Stag Semibold", serif;
  font-weight: 600;
  text-shadow: none; }

p {
  clear: both; }

/* font-weight: 600;*/
/*Navbar*/
#CS-header nav {
  border-radius: 0;
  border: none;
  background: #898989;
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  /*width of navbar visually affected by the right border */ }
  #CS-header nav a {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 11.5px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600; }
  #CS-header nav li {
    border-right: solid 1px #ffffff; }
  #CS-header nav li:nth-child(6) {
    border-right: 0; }
  #CS-header nav li li a {
    color: #898989; }
  #CS-header nav .active > a {
    background: #ff0000; }
  #CS-header nav ul li {
    width: 15.6667%;
    /* fallback for non-calc() browsers*/
    width: calc(100% / 5);
    /*$nav-item-total*/
    box-sizing: border-box; }
#CS-header .nav-language, #CS-header .nav-login {
  background: #898989; }
  #CS-header .nav-language li a, #CS-header .nav-login li a {
    min-height: 30px;
    padding: 8px 5px 8px 8px;
    font-size: 10px !important;
    letter-spacing: 0.12em !important; }
  #CS-header .nav-language li:last-child, #CS-header .nav-login li:last-child {
    border-right: 0; }
#CS-header .nav-login {
  float: right;
  margin-top: -96px;
  /*adjust position for nav login*/ }
  #CS-header .nav-login li {
    border-right: 0 !important;
    border-left: 2px solid #d7d7d7;
    min-width: 165px; }
#CS-header .mobile-nav-login {
  display: none; }
#CS-header .nav-language {
  float: left;
  margin-top: -30px;
  /*adjust position for nav language*/ }
  #CS-header .nav-language li {
    display: inline-block;
    width: auto;
    /*62px;*/ }
    #CS-header .nav-language li a {
      margin-top: -1px;
      padding: 8px 5px 8px 7px; }
    #CS-header .nav-language li:last-child {
      margin-left: -5px; }

/*general nav resets*/
.navbar {
  max-height: 65px; }
  .navbar .navbar-collapse {
    text-align: center;
    padding-right: 0;
    padding-left: 0; }
  .navbar .navbar-nav {
    display: inline-block;
    width: 100%; }
    .navbar .navbar-nav > li > a:hover {
      background: #d7d7d7;
      color: #898989 !important; }
    .navbar .navbar-nav > li.active > a:hover {
      color: #ffffff !important; }

.nav > li > a {
  min-height: 65px;
  padding: 20px 0 0 0; }

/* about page tabbed filter overide*/
.nav.nav-tabs {
  padding: 0;
  margin: 0;
  border: none; }
  .nav.nav-tabs > li {
    margin-bottom: 0; }
  .nav.nav-tabs .title-block a, .nav.nav-tabs .title-block h2 {
    padding-top: 2px; }
  .nav.nav-tabs .active .title-block {
    background: #f1666f; }
    .nav.nav-tabs .active .title-block a {
      text-decoration: none; }

/* sub nav drop down */
#CS-header nav .dropdown-menu {
  border-radius: 0;
  border-color: #ffffff;
  border-width: 0 1px 1px 1px;
  margin-left: -1px;
  padding: 0;
  min-width: 203px;
  background-color: #898989; }
  #CS-header nav .dropdown-menu li {
    width: 100% !important;
    background: transparent;
    border-top: solid 1px #ffffff;
    border-right: none;
    text-align: left; }
    #CS-header nav .dropdown-menu li a {
      width: 100%;
      min-height: 3em;
      padding-top: 1em;
      text-transform: capitalize;
      color: #222222; }
    #CS-header nav .dropdown-menu li.active > a {
      color: #ff0000;
      background-color: #f5f5f5; }

/*SHOWCASE Styles*/
/* Carousel Feature*/
.content-sidebars .showcase {
  background-color: #fff; }

.showcase, .modal-content {
  width: 100%; }
  .showcase article, .modal-content article {
    position: relative;
    overflow: hidden;
    width: 100%; }
  .showcase .breadcrumb, .modal-content .breadcrumb {
    /*overlay breadcrumb on showcase img*/
    margin-bottom: -10px;
    position: absolute;
    z-index: 99;
    margin-top: 0px; }
  .showcase .carousel-caption, .modal-content .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    margin-left: 0;
    background-color: rgba(161, 161, 161, 0.46);
    text-shadow: none;
    text-align: left; }
    .showcase .carousel-caption h2, .modal-content .carousel-caption h2 {
      color: #ffffff;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      margin-top: 15px;
      margin-bottom: 0;
      padding-bottom: 4px; }
    .showcase .carousel-caption h3, .showcase .carousel-caption h3 a, .modal-content .carousel-caption h3, .modal-content .carousel-caption h3 a {
      color: #ffffff;
      font-size: 29px;
      font-family: "Raleway", sans-serif;
      text-decoration: none;
      text-transform: uppercase;
      font-style: italic;
      margin-top: 0;
      padding-bottom: 20px;
      padding-top: 0;
      letter-spacing: 0.1em; }
  .showcase .carousel-caption-black h2, .modal-content .carousel-caption-black h2 {
    color: #000000;
    padding-bottom: 2px; }
  .showcase .carousel-caption-black h3, .modal-content .carousel-caption-black h3 {
    color: #000000;
    font-size: 36px;
    letter-spacing: 0.075em; }
    .showcase .carousel-caption-black h3 a, .modal-content .carousel-caption-black h3 a {
      color: #000000; }
  .showcase .carousel-caption-home, .modal-content .carousel-caption-home {
    padding: 0 28px;
    height: 113px; }
    .showcase .carousel-caption-home h2, .modal-content .carousel-caption-home h2 {
      padding-bottom: 7px; }
    .showcase .carousel-caption-home h3, .modal-content .carousel-caption-home h3 {
      line-height: 1;
      letter-spacing: 0.075em;
      margin-bottom: 0; }
  .showcase .carousel-caption-film h2, .showcase .carousel-caption-film h3, .modal-content .carousel-caption-film h2, .modal-content .carousel-caption-film h3 {
    padding: 0 20px;
    margin: 0; }
  .showcase .carousel-caption-film h2, .modal-content .carousel-caption-film h2 {
    color: #fff;
    font-size: 14px;
    padding-bottom: 7px;
    padding-top: 23px; }
  .showcase .carousel-caption-film h3, .modal-content .carousel-caption-film h3 {
    font-size: 30px;
    letter-spacing: 0.075em;
    padding-bottom: 38px; }
    .showcase .carousel-caption-film h3 a, .modal-content .carousel-caption-film h3 a {
      color: #000000; }
  .showcase .featured-excerpt, .modal-content .featured-excerpt {
    font-family: "Stag Light", serif;
    font-size: 13px;
    letter-spacing: 0.1em;
    line-height: 1.25;
    color: #000;
    text-shadow: #000 0px 0px 0px;
    padding: 20px;
    margin-bottom: 2px;
    height: auto;
    background: #d4d4d4; }
  .showcase.title-header img, .showcase.vert-red img, .modal-content.title-header img, .modal-content.vert-red img {
    padding-bottom: 0.3em; }
  .showcase.title-header .film-thumbnail img, .showcase.slideshow img, .showcase.magazine img, .modal-content.title-header .film-thumbnail img, .modal-content.slideshow img, .modal-content.magazine img {
    padding-bottom: 0; }

/*Magazine showcase slider styles */
.showcase-magazine .item, .showcase-magazine .item > .active {
  height: 100%; }
.showcase-magazine .carousel-inner img {
  margin-bottom: 130px; }
.showcase-magazine .carousel-caption {
  padding-left: 0px;
  bottom: 0; }
  .showcase-magazine .carousel-caption h2 {
    font-size: 14px;
    margin-top: 18px;
    margin-bottom: 8px;
    padding-left: 40px; }
  .showcase-magazine .carousel-caption h3 {
    padding-bottom: 27px;
    padding-left: 40px; }
  .showcase-magazine .carousel-caption .featured-excerpt {
    padding-left: 40px;
    padding-right: 20px;
    background: #d4d4d4;
    min-height: 140px; }

/*slider dots*/
.carousel-indicators {
  left: 33%;
  bottom: 113px;
  text-align: left; }
  .carousel-indicators li, .carousel-indicators li.active {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 0px;
    margin: 0; }
  .carousel-indicators li.active {
    background-color: #ff0000; }

#carousel-gallery .carousel-indicators {
  text-align: center;
  left: 50%;
  bottom: 55px; }
  #carousel-gallery .carousel-indicators li, #carousel-gallery .carousel-indicators li.active {
    width: 11px;
    height: 11px; }

.carousel-indicators-magazine {
  text-align: right;
  right: 0;
  left: auto;
  padding-right: 60px;
  bottom: auto;
  top: 75%; }

#carousel-gallery .caption {
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding: 10px 20px;
  min-height: 60px;
  overflow: hidden; }

/*square Next and back slides*/
.carousel-control {
  width: 50px;
  top: 30px;
  bottom: 108px;
  margin-left: 28px;
  background-image: none !important; }
  .carousel-control.right {
    left: 32px; }
  .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .icon-fscreen {
    margin-top: 150px;
    margin-left: 0px;
    left: 20%;
    top: auto;
    bottom: 10px; }
  .carousel-control.square {
    opacity: 1; }
    .carousel-control.square .icon-prev, .carousel-control.square .icon-next, .carousel-control.square .icon-fscreen {
      position: absolute;
      width: 30px;
      height: 30px;
      text-shadow: none;
      color: #898989;
      font-family: "Raleway", sans-serif;
      font-size: 30px;
      padding-top: 12px;
      background: #ffffff;
      opacity: 1;
      line-height: 0; }
    .carousel-control.square .icon-fscreen {
      background: #ffffff url("../images-static/icon-fscreen.png");
      background-repeat: no-repeat;
      background-position: center; }
  .carousel-control.fscreen {
    left: 64px; }

.showcase-magazine .carousel-control {
  top: 0px;
  bottom: 250px;
  margin-left: 30px; }

.modal-dialog .modal-content .carousel-control.moveup, .carousel-control.move-up {
  bottom: 150px; }

#carousel-gallery .carousel-control {
  top: 0px;
  bottom: 55px;
  margin-left: 10px; }

#carousel-gallery .featured-excerpt {
  margin-bottom: 0; }

#carousel-photo .carousel-control {
  bottom: 260px; }

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%; }

.content-sidebars .showcase .carousel-inner .item img {
  margin-bottom: -1px; }

.caption {
  font-size: 11px !important;
  background: #b7b7b7 !important; }

.gallery {
  padding-top: 0.3em;
  padding-bottom: 15px; }

#myModal {
  padding-right: 0 !important;
  background: rgba(0, 0, 0, 0.8); }

.modal-dialog {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 100%;  1024px changed so modal fills screen*/ }
  .modal-dialog .modal-content {
    background: #000;
    box-shadow: none;
    border: none;
    border-radius: 0;
    max-height: 100vh; }
    .modal-dialog .modal-content .carousel-caption {
      position: absolute;
      bottom: 0;
      min-height: 130px;
      height: auto; }
      .modal-dialog .modal-content .carousel-caption .photo-caption, .modal-dialog .modal-content .carousel-caption .featured-excerpt {
        padding-left: 40px;
        padding-right: 30px; }
      .modal-dialog .modal-content .carousel-caption #carousel-gallery .caption {
        min-height: 60px; }
      .modal-dialog .modal-content .carousel-caption #carousel-gallery .carousel-control {
        top: 10px; }
    .modal-dialog .modal-content .carousel-control {
      bottom: 130px; }
    .modal-dialog .modal-content .item {
      height: auto;
      max-height: 100vh; }
    .modal-dialog .modal-content .breadcrumb {
      padding-left: 28px; }
  .modal-dialog .modal-body {
    width: 100%;
    overflow: hidden;
    padding: 0;
    height: 100%; }
    .modal-dialog .modal-body img {
      width: 100%;
      height: auto; }
  .modal-dialog .modal-header {
    padding: 0px;
    border-bottom: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999; }
  .modal-dialog .modal-header .close {
    margin-top: 5px;
    margin-right: 10px;
    border: none;
    background: transparent;
    font-size: 60px;
    color: white; }

.modal-body #carousel-featured, .modal-body #carousel-photo {
  margin-top: 0 !important; }

/*cover articles with overlays and showcase headers */
.title-header img {
  width: 100%; }
.title-header .title-header-overlay {
  width: calc(100% - (2 * 0.3em));
  /* twice gutter of the .cover */
  padding: 24px 0 30px;
  position: absolute;
  bottom: 0;
  background-color: rgba(161, 161, 161, 0.46);
  text-align: center;
  color: #ffffff;
  font-style: italic; }
  .title-header .title-header-overlay .title {
    padding: 4px 0 0 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 0.075em; }
    .title-header .title-header-overlay .title a {
      text-decoration: none;
      color: #ffffff; }
  .title-header .title-header-overlay .tag {
    background: rgba(235, 33, 46, 0.48);
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.2em;
    padding: 0.4em;
    display: block;
    margin: 0 auto;
    max-width: 20%;
    min-width: 150px; }
    .title-header .title-header-overlay .tag.long {
      max-width: 40%; }
  .title-header .title-header-overlay .tag-darker {
    background: rgba(235, 33, 46, 0.68); }
  .title-header .title-header-overlay p {
    margin: 0;
    padding: 0 30px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.075em; }
.title-header .overlay-darker {
  background: rgba(161, 161, 161, 0.81); }
.title-header .vert-center {
  font-style: normal;
  position: absolute;
  top: 33.3%;
  bottom: 33.3%; }
.title-header .vert-red {
  background: rgba(235, 33, 46, 0.48);
  font-style: normal;
  position: absolute;
  top: 33.3%;
  bottom: 33.3%; }
  .title-header .vert-red p {
    text-transform: uppercase; }
.title-header.magazine {
  border-left: 2px solid #ffffff; }

.slideshow .title-header.magazine {
  border-left: 0 solid; }

.magazine .title-header-overlay {
  width: 100%;
  bottom: 0;
  top: initial; }
  .magazine .title-header-overlay .title {
    font-size: 46px; }

/*for overlay on magazine layout*/
.showcase .title-header-overlay {
  width: 100%; }

.masonry .title-header-overlay {
  width: calc(100% - (2 * 0.3em));
  bottom: 0.3em;
  /*for project overlay on masonry layout*/ }
  .masonry .title-header-overlay p {
    color: #ffffff; }
  .masonry .title-header-overlay h1.title {
    font-size: 36px; }
  .masonry .title-header-overlay h2.title {
    font-size: 24px; }

/*Magazine Film styles for video play icon overlay */
.film-thumb-overlay-container {
  position: relative; }

.film-thumbnail {
  position: relative; }

.film-thumbnail img {
  padding-bottom: 0; }

.play-overlay-icon {
  position: absolute;
  display: block;
  top: 30%;
  left: 38%;
  max-width: 24%;
  opacity: 0.36;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.film-thumb-overlay-container:hover .play-overlay-icon {
  opacity: 0.5; }

.masonry .col-sm-4.title-header img {
  max-height: 392px;
  overflow: hidden; }

.masonry.projects .col-sm-4.title-header img {
  max-height: initial; }

/*Page Text Styles */
.content-text, .content-grid {
  font-family: "Stag Light", serif; }
  .content-text p, .content-text hr, .content-text h1, .content-text h2, .content-text h3, .content-text h4, .content-text ul, .content-grid p, .content-grid hr, .content-grid h1, .content-grid h2, .content-grid h3, .content-grid h4, .content-grid ul {
    padding: 12px 0;
    margin: 0.5em 0; }
  .content-text p, .content-grid p {
    font-family: "Stag Light", serif;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0.1em;
    line-height: 1.2;
    padding: 2px;
    text-shadow: #000 0px 0px 0px; }
  .content-text .person, .content-grid .person {
    color: #ff8a8a;
    font-weight: normal; }
    .content-text .person b, .content-grid .person b {
      text-transform: uppercase; }

.content-text.breadcrumbs {
  /*same as btn breadcrumbs and title-block*/
  width: 101%;
  margin-left: -1px; }
  .content-text.breadcrumbs article {
    width: 25%;
    float: left;
    padding-bottom: 0.3em; }
  .content-text.breadcrumbs a {
    font-size: 11px;
    font-weight: 700; }
  .content-text.breadcrumbs .btn {
    min-width: 100%;
    background: #898989;
    border-color: #ffffff; }
    .content-text.breadcrumbs .btn.current {
      background: #ff0000; }
    .content-text.breadcrumbs .btn a {
      font-size: 11px;
      font-weight: 700; }

.content-small p {
  font-size: 13px;
  padding: 0.3em 0; }

.space-top {
  padding-top: 15px; }

/* Extra 20px padding for project about page - only page that has it */
.space-bottom {
  padding-bottom: 15px; }

.content-sidebars aside .breadcrumb.space-top {
  padding-top: 7px;
  background: white; }

blockquote {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  letter-spacing: 0.075em;
  padding: 53px 60px 40px 60px;
  line-height: 1.2em;
  margin: 15px 0 15px 20px;
  border-left: 0; }

.article-login a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #000; }

/*article image + caption*/
figure {
  position: relative; }

figcaption {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.075em;
  background: rgba(161, 161, 161, 0.95);
  padding: 14px 25px;
  position: absolute;
  margin: 0 20px;
  left: 0;
  right: 0;
  bottom: 8px; }

/*Buttons & Breadcrumbs */
.title-block {
  /*same as btn breadcrumbs*/
  background: #b7b7b7;
  float: left;
  padding: 0;
  border: 1px solid #ffffff;
  min-width: 170px;
  text-align: center;
  margin-bottom: 10px; }
  .title-block h2, .title-block a {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
    padding: 1px 5px;
    font-weight: 700; }
  .title-block.orange {
    background: #ff0000;
    margin: 80px auto; }
  .title-block::after {
    clear: both; }

.title-d-pink {
  background: #f1666f; }

.title-red {
  background: #ff0000; }

.btn {
  background-color: #00b254;
  border-color: #00b254;
  padding: 0; }
  .btn, .btn a {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.1em;
    padding: 5px 19px; }
  .btn.no-click {
    cursor: initial; }
  .btn.sold {
    background-color: #ff0000;
    border-color: #ff0000; }
  .btn.orange {
    background-color: #ff0000;
    border-color: #ff0000;
    min-width: 180px; }
  .btn:hover, .btn:focus, .btn.focus {
    color: #ffffff; }

.counting-block {
  width: calc(33.3% - 0.6em + 1px);
  background: #ff0000;
  margin: 5px 0; }
  .counting-block article {
    float: left;
    margin-bottom: 0;
    border-top: none;
    border-bottom: none; }
  .counting-block .count-wide {
    min-width: auto;
    border: none;
    /*min-width:calc(100% - (6 * 30px));  set amount of count blocks */ }
  .counting-block .title-block.count {
    float: left;
    min-width: 25px; }
    .counting-block .title-block.count h2, .counting-block .title-block.count a {
      padding: 2px, 10px; }

/* magazine cover pagination */
.cover-paging {
  position: absolute;
  margin-top: -30px;
  width: calc( 100% + 1px); }
  .cover-paging ul {
    margin-bottom: 0;
    padding: 0; }
    .cover-paging ul .btn, .cover-paging ul li {
      min-width: 11.1% !important;
      border: none;
      width: auto;
      display: block;
      float: left;
      padding: 6px 0; }
    .cover-paging ul a {
      float: none;
      padding: 4px 0; }
  .cover-paging ul .pagenav {
    background: #2C2D2C; }
  .cover-paging .grey {
    background: #898989; }

.carousel-indicators.carousel-pagin {
  left: 0;
  bottom: 0;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }
  .carousel-indicators.carousel-pagin li {
    text-indent: 0;
    border-radius: 0;
    padding-bottom: 25px; }

/*GRID styles and spacing of items thumbnails cover videos*/
.cover-recommend, .cover-headline {
  /*12 | 20 |12 |14pt -check font sizes*/
  color: #000000;
  letter-spacing: 0.075em;
  /*tag*/
  /*title*/
  /*padding is different on Film page, not sure if we should just ignore but added it anyway*/
  /*summary*/
  /*author*/ }
  .cover-recommend img, .cover-headline img {
    /*max-height:230px;*/
    padding: 0 0 10px 0;
    margin: 0 auto;
    width: 100%; }
  .cover-recommend h2, .cover-headline h2 {
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 20px 0 30px;
    margin: 0; }
  .cover-recommend h1, .cover-headline h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 20px 0 30px;
    margin: 0;
    width: 100%;
    overflow: hidden; }
    .cover-recommend h1 a, .cover-headline h1 a {
      color: #000000;
      text-decoration: none; }
  .cover-recommend h1.film, .cover-recommend p.film, .cover-recommend h4.film, .cover-recommend h2.film, .cover-headline h1.film, .cover-headline p.film, .cover-headline h4.film, .cover-headline h2.film {
    padding-left: 20px; }
  .cover-recommend h1.film, .cover-headline h1.film {
    padding-top: 7px;
    letter-spacing: 0.1em; }
  .cover-recommend p.film, .cover-headline p.film {
    padding-top: 8px;
    margin-bottom: 9px;
    letter-spacing: 0.075em; }
  .cover-recommend h4.film, .cover-headline h4.film {
    letter-spacing: 0.1em; }
  .cover-recommend p, .cover-headline p {
    font-family: "Stag Light", serif;
    font-size: 12px;
    padding: 10px 25px 0 30px;
    margin: 0 0 10px 0;
    max-height: 65px;
    overflow: hidden; }
  .cover-recommend h4, .cover-headline h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 30px 20px;
    margin: 0; }
  .cover-recommend.pink, .cover-headline.pink {
    background: #ff8a8a; }
  .cover-recommend.blush, .cover-headline.blush {
    background: #f6999f; }
  .cover-recommend.rosy, .cover-headline.rosy {
    background: #f9b5ba; }
  .cover-recommend.mint, .cover-headline.mint {
    background: #c4e4c2; }
  .cover-recommend.sunny, .cover-headline.sunny {
    background: #fff99d; }

.content-grid.breadcrumbs {
  margin-left: -0.3em;
  margin-right: -0.3em; }
  .content-grid.breadcrumbs article {
    /*breadcrumbs section to take grid styles*/
    padding: 0.6em 0.3em 0.3em;
    margin: 0; }
.content-grid.cover {
  /*defaults */
  margin-left: -0.3em;
  margin-right: -0.3em;
  /* fixes for main placement of outer grid --cover*/ }
  .content-grid.cover article {
    padding: 0.3em;
    margin: 0; 
 z-index: 2000;
}
    .content-grid.cover article img {
      width: 100%;
      max-height: 392px; }
    .content-grid.cover article .btn {
      /*btn for sold / buy*/
      position: absolute;
      right: 0.4em;
      top: 50%; }
      .content-grid.cover article .btn a {
        font-size: 12px;
        padding: 1em; }
    .content-grid.cover article.breadcrumbs .btn {
      position: relative;
	
      right: 0;
      top: 0; }
.content-grid.cover article.cover-recommend, .content-grid.cover article.cover-headline, .content-grid.cover article.quote {
  max-height: 392px;
  min-height: 392px;
  overflow: hidden;
  clear: right;
  padding: 0;
  margin: 0.3em;
  /* see responsive section for widths*/ }
  .content-grid.cover article.cover-recommend.col-sm-4, .content-grid.cover article.cover-headline.col-sm-4, .content-grid.cover article.quote.col-sm-4 {
    width: calc(33.3% - 0.6em); }
.content-grid.cover article.cover-headline {
  max-height: 110px;
  min-height: 110px;
  padding-top: 25px; }
.content-grid.mixed {
  /* for col 2|1  -homepage*/
  padding: 0;
  /* extra space below grid for magazine page*/ }
  .content-grid.mixed.col-sm-8 {
    padding: 0;
    padding-top: 0.3em;
    margin-left: -0.3em;
    margin-right: 0;
    width: calc(66.67% + 0.6em); }
    .content-grid.mixed.col-sm-8.invert {
      clear: none !important;
      margin-left: 0;
      margin-right: -0.3em; }
      .content-grid.mixed.col-sm-8.invert .col-xs-6 {
        width: calc(50% - 0.6em); }
  .content-grid.mixed.col-sm-4 {
    clear: none !important;
    padding-left: 0;
    padding-top: 0.3em;
    margin-right: -0.3em;
    margin-left: 0;
    min-width: 33.3%;
    width: calc(33.3% - 0.6em); }
    .content-grid.mixed.col-sm-4.invert {
      clear: both !important;
      margin-right: 0;
      margin-left: -0.3em; }
      .content-grid.mixed.col-sm-4.invert .col-xs-12 {
        width: calc(100% - 0.6em); }
  .content-grid.mixed.bottom-margin {
    margin-bottom: 5px; }
.content-grid.thumbnails article {
  /* wider gutter than cover on about page*/
  padding: 0 5px 10px; }
  .content-grid.thumbnails article.col-sm-4:nth-child(3n+1) {
    padding-left: 0;
    padding-right: 10px;
    clear: both; }
  .content-grid.thumbnails article.col-sm-4:nth-child(3n) {
    padding-left: 10px;
    padding-right: 0; }
.content-grid.videos {
  padding: 0; }
.content-grid.post-list {
  padding-top: 0.5em;
  margin: -15px; }
  .content-grid.post-list article {
    padding: 0;
    margin: 15px; }
    .content-grid.post-list article img {
      width: 100%; }
  .content-grid.post-list p, .content-grid.post-list h1, .content-grid.post-list h2, .content-grid.post-list h3, .content-grid.post-list h4 {
    padding: 15px; }
  .content-grid.post-list .col-sm-4 {
    width: calc(30% - 15px);
    /*auto calc */
  /*section removed?
  article, .title-block.red { margin-left:1em; margin-right:0;}
  }
.col-sm-4:first-child{ width:$width-leftbar;
  article,.title-block.red { margin-left: 0;} */ }
  .content-grid.post-list .post-summary {
    padding-top: 5px; }
    .content-grid.post-list .post-summary article {
      background: #d7d7d7; }
  .content-grid.post-list p {
    font-family: "Stag Light", serif;
    font-size: 12px;
    padding: 15px; }
  .content-grid.post-list h3 {
    font-family: "Stag Light", serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
    padding-top: 1em;
    margin: -4px 0; }

/* Sidebar and right content styles */
#CS-page .content-sidebars section {
  clear: none; }

/*this is for clears -- for magazine layout */
/*top of page gaps standard */
.content-sidebars, .showcase {
  border-top: 0px #ffffff solid; }

/*this is 1px from header nav border*/
.showcase.magazine, .content-sidebars .showcase {
  border-top: none; }

.content-sidebars {
  color: #000000; }
  .content-sidebars aside {
    padding: 0; }
    .content-sidebars aside .breadcrumb {
      /*don't think this is actually a link so might need to move these styles to a heaidng type */ }
      .content-sidebars aside .breadcrumb .btn, .content-sidebars aside .breadcrumb a {
        width: 100%;
        padding-left: 0; }
      .content-sidebars aside .breadcrumb .btn {
        text-align: left;
        padding: 1em 56px !important;
        font-weight: 700;
        letter-spacing: 0.075em;
        font-size: 14px; }
  .content-sidebars section {
    background: #ffffff;
    padding: 0; }
  .content-sidebars p, .content-sidebars h1, .content-sidebars h2, .content-sidebars h3, .content-sidebars h4, .content-sidebars figure {
    padding: 0.5em 20px;
    margin: 0; }
  .content-sidebars hr {
    padding: 0;
    margin-bottom: 15px;
    margin-top: 10px; }
  .content-sidebars p {
    font-family: "Stag Light", serif;
    font-size: 14px;
    letter-spacing: 0.14em;
    line-height: 1.32;
    text-shadow: #000 0px 0px 0px; }
  .content-sidebars h3 {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-style: italic;
    line-height: 1; }
  .content-sidebars h4.date {
    font-family: "Raleway", sans-serif;
    color: #f1666f;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 0.055em;
    padding-top: 25px;
    padding-bottom: 16px; }
    .content-sidebars h4.date .author {
      text-transform: uppercase; }
  .content-sidebars h4.date-magazine {
    padding-top: 10px;
    padding-bottom: 20px; }
  .content-sidebars article h2 {
    font-family: "Stag Bold", serif;
    font-size: 15px;
    letter-spacing: 0.1em;
    padding-bottom: 12px; }

.side-menu {
  width: 29.2%;
  background: #e2e2e2; }

.side-summary {
  width: calc(29.2% + 2px);
  background: #e2e2e2; }

/*standardize width because of the border on the sidemenu */
.side-summary.zebra {
  width: calc(29.2%); }

/*zebra width sidemenu */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.side-summary, .post-summary {
  background: #efefef; }
  .side-summary .selected h3 a, .post-summary .selected h3 a {
    color: #ffffff; }
  .side-summary h3, .post-summary h3 {
    padding: 15px;
    padding-bottom: 0;
    padding-left: 25px; }
  .side-summary h3 a, .post-summary h3 a {
    /*text-decoration: none;*/
    color: #000000; }
  .side-summary p, .post-summary p {
    padding: 15px;
    padding-top: 5px;
    padding-left: 25px;
    line-height: 1.5em;
    font-size: 12px;
    text-shadow: #000 0px 0px 0px;
    letter-spacing: 0.075em; }
  .side-summary .selected, .post-summary .selected {
    background: #fb3434 !important;
    color: #ffffff; }
    .side-summary .selected p, .post-summary .selected p {
      text-shadow: #fff 0px 0px 0px; }
  .side-summary .selected-dispatches, .post-summary .selected-dispatches {
    background: #f1666f !important;
    color: #ffffff; }
    .side-summary .selected-dispatches p, .post-summary .selected-dispatches p {
      text-shadow: #fff 0px 0px 0px; }

/*Styles: Zebra */
.zebra article:nth-child(even) {
  background: transparent; }

.zebra article:nth-child(odd) {
  background: #f9f9f9; }

/* Extras side menu */
nav.sub-menu ul li {
  margin: 10px 0;
  background: #c2c2c2; }
  nav.sub-menu ul li.active {
    background: #ff8a8a; }
  nav.sub-menu ul li h4 {
    padding: 17px 56px 0;
    color: #a1a1a1;
    font-size: 11px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    letter-spacing: 0.075em; }
    nav.sub-menu ul li h4.white {
      color: #ffffff; }
  nav.sub-menu ul li a {
    padding: 6px 56px;
    color: #5a5a5a;
    font-size: 11px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.075em;
    line-height: 1.2;
    min-height: 46px; }
  nav.sub-menu ul li a:hover {
    background: none; }

/*magazine headers (this means there is a sidebar on the page)*/
.magazine {
  /*style inside magazine layout = rightside*/
  /* somehow there is a font weight 900 on the <i> i think? ignores font weight here - stuck */ }
  .magazine.col-sm-9 {
    width: 70.8%; }
  .magazine .issue {
    top: 0;
    position: absolute;
    min-width: 165px;
    border-left: 1px solid #ffffff;
    border-bottom: 0; }
  .magazine .showcase {
    margin: 0 0 0 20px; }
  .magazine .intro {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-shadow: none;
    letter-spacing: 0.1em;
    font-size: 14px;
    line-height: 1.2em;
    padding-top: 0;
    padding-bottom: 12px;
    font-style: italic; }

    .intro  p{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-shadow: none;
    letter-spacing: 0.1em;
    font-size: 14px;
    line-height: 1.2em;
    padding-top: 0;
    padding-bottom: 12px;
    font-style: italic; }

  .magazine blockquote {
    background: #f1666f;
    color: #ffffff; }
  .magazine .top-gap {
    padding-top: 22px; }

.top-gap {
  padding-top: 8px; }

/* Socials = font-awesome */
.social-icons {
  text-align: center;
  padding-bottom: 15px;
  padding-left: 20px;
  float: left;
  width: 100%; }
  .social-icons a {
    display: inline-block;
    vertical-align: middle; }
  .social-icons .fa {
    color: #ffffff;
    background: #000000;
    font-size: 1em;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    padding-top: 6px;
    margin: 5px;
    float: left; }

/* Footer styles */
footer {
  background: #222222; }
  footer .fullwide {
    background: #2C2D2C;
    padding: 15px; }
  footer .footer-narrow {
    max-width: 980px; }
  footer .footer-logo a {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    color: #b7b7b7;
    letter-spacing: 0.072em;
    text-decoration: none; }

.footer-text {
  clear: both;
  font-family: "Stag Light", serif; }
  .footer-text hr {
    border-top: 1px solid #444444;
    margin-top: 15px;
    margin-bottom: 10px; }
  .footer-text p {
    text-align: center;
    padding-bottom: 2em; }

.footer-menu {
  clear: both;
  font-family: "HelveticaNeue", sans-serif;
  font-size: 11.5px;
  letter-spacing: 0.09em;
  line-height: 1.9em;
  padding: 11px 0; }
  .footer-menu a {
    color: #ccc; }
  .footer-menu ul {
    width: 20%;
    float: left;
    padding: 0 15px;
    margin-bottom: 20px; }
    .footer-menu ul:first-child {
      padding-left: 0; }
    .footer-menu ul:last-child {
      padding-right: 0;
      padding-left: 25px; }
    .footer-menu ul li {
      list-style: none;
      padding: 0.3em 0; }
  .footer-menu .foot-menu-head {
    border-bottom: 1px solid #fff;
    max-width: 95px;
    padding-bottom: 0.1em;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.1em; }
    .footer-menu .foot-menu-head a {
      color: #fff;
      text-decoration: none; }
  .footer-menu .border-left {
    position: relative; }
  .footer-menu .border-left:after {
    content: "";
    position: absolute;
    top: 10px;
    margin: 0 auto;
    border-left: 1px solid #fff;
    height: 192px;
    margin-left: -25px; }

.footer-res {
  font-size: 13px;
  font-family: "HelveticaNeueMediumItalic", sans-serif;
  font-style: italic;
  color: #858585;
  letter-spacing: 0.05em; }

/*login form style*/
.content-login {
  background: url(../images-static/showcase-gallery.jpg);
  background-size: cover;
  min-height: 720px;
  height: 100vh;
  padding-top: 30px;
  text-align: center; }
  .content-login .login-box {
    padding: 3em 6em;
    margin: 0 auto;
    max-width: 650px;
    background-color: rgba(255, 255, 255, 0.7); }
    .content-login .login-box .logo {
      max-width: 300px;
      margin: 0 auto; }
    .content-login .login-box h1 {
      font-size: 24px;
      color: #ff0000;
      font-family: "Raleway", sans-serif;
      font-weight: 900; }
    .content-login .login-box h2 {
      font-size: 18px;
      font-family: "Raleway", sans-serif;
      font-weight: 900; }
    .content-login .login-box input {
      background: #b7b7b7;
      border: 0;
      border-radius: 0;
      margin: 3px 2%;
      padding: 10px 10px;
      width: 46%;
      float: left;
      font-family: "din_alternatebold", sans-serif;
      font-size: 11px;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center; }
      .content-login .login-box input[type="submit"] {
        width: 200px;
        border-radius: 0;
        clear: both;
        float: none;
        background: #ff0000;
        font-size: 14px;
        letter-spacing: 0.07em; }

/*pagination hack*/
.collapse.pgin {
  display: block; }

#pg1 {
  position: absolute;
  z-index: 1; }

#pg2 {
  position: absolute;
  z-index: 2; }

#pg3 {
  position: absolute;
  z-index: 3; }

/* placeholder to give height to covers hack */
#pg-placeholder {
  position: relative;
  z-index: 0; }

.pagin-placeholder img {
  opacity: 0.01; }

/*general flex*/
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; }

.flex-item {
  margin: 0 auto;
  flex-shrink: 1; }

/*Responsive breakpoints*/
/*everything in custom is for desktop*/
body {
  background: #ffffff; }

@media only screen and (max-width: 980px) {
  /*but not larger than desktop*/
  /*body{ background: #cc0055;}*/
  /*#CS-page {margin:1px 10px;}*/
  .title-header .title-header-overlay.vert-red .title, .title-header .title-header-overlay.vert-center .title {
    font-size: 50px; }
  .title-header .title-header-overlay.vert-red .tag, .title-header .title-header-overlay.vert-center .tag {
    font-size: 12px; }

  blockquote {
    margin: 15px; }

  .masonry .title-header-overlay h1.title {
    font-size: 32px; }

  .counting-block {
    width: 66.3%; } }
@media only screen and (max-width: 980px) and (min-width: 767px) {
  /*tablets for LANDSCAPE home */
  .home-content {
    width: calc(100% - 1.8em);
    margin-left: 0.6em; }

  .page-content {
    width: calc(100% - 1.2em);
    margin-left: 0.6em; } }
@media only screen and (max-width: 767px) {
  /*Half columns for LANDSCAPE to tablets PORTRAIT -magenta*/
  /*body{ background: #ff00ff;}*/
  #logo {
    /*small logo*/
    background: #484D4F;
    padding: 10px; }
    #logo .large {
      display: none; }
    #logo .small {
      display: block;
      margin: 1px 80px 1px auto; }

  #CS-header {
    /*hamburger menu*/ }
    #CS-header .navbar {
      max-height: 72px;
      z-index: 9999; }
    #CS-header nav {
      background: transparent;
      margin-top: -72px;
      height: 72px; }
      #CS-header nav .navbar-toggle {
        border: none;
        background: #34383B;
        border-radius: 0;
        margin: 0;
        width: 80px;
        height: 72px; }
      #CS-header nav .icon-bar {
        width: 32px;
        height: 4px;
        border-radius: 0;
        margin: 4px auto;
        background-color: #ffffff !important; }
    #CS-header nav ul li {
      /*burger drop*/
      border-right: none;
      margin: 0;
      float: none;
      width: 100% !important; }
      #CS-header nav ul li:nth-child(even) {
        background: rgba(112, 112, 112, 0.8); }
      #CS-header nav ul li:nth-child(odd) {
        background: rgba(99, 99, 99, 0.9); }
      #CS-header nav ul li a {
        color: #ffffff;
        padding-left: 30px;
        text-transform: capitalize;
        font-size: 18px;
        /*font-family: $font-helvetica-bold; this doesn't look right*/ }
    #CS-header .navbar .navbar-nav {
      margin: 0;
      background: rgba(183, 183, 183, 0.7);
      width: 50%;
      float: right;
      min-width: 270px;
      max-width: 270px;
      text-align: left; }
    #CS-header .navbar-collapse {
      overflow-x: hidden;
      border-top: none; }
    #CS-header .nav-language {
      display: none; }
    #CS-header .nav-login {
      display: none; }
    #CS-header .mobile-nav-login {
      display: block; }

  #CS-page {
    /*.grids*/ }
    #CS-page .row-eq-height {
      display: block !important; }
    #CS-page .content-grid {
      /*width: 100%;*/
      /*on landscape splits into halves and then one col with correct padding on cyan*/
      /*  &.mixed .col-xs-6{width:50%;width: calc(50% - 0.6em);}*/ }
      #CS-page .content-grid.cover {
        margin-left: 0.3em;
        margin-right: 0.3em; }
        #CS-page .content-grid.cover img {
          max-height: initial; }
      #CS-page .content-grid.cover article.cover-headline.col-xs-6, #CS-page .content-grid.cover article.cover-recommend.col-xs-6 {
        width: calc(50% - 0.6em); }
      #CS-page .content-grid .cover-recommend, #CS-page .content-grid .cover-headline {
        overflow: hidden;
        clear: right;
        padding: 0;
        margin: 0.3em;
        width: calc(50% - 0.6em);
        /*width: 100%;*/ }
        #CS-page .content-grid .cover-recommend h1, #CS-page .content-grid .cover-headline h1 {
          padding: 10px 20px 10px 30px; }
        #CS-page .content-grid .cover-recommend h1.film, #CS-page .content-grid .cover-headline h1.film {
          padding: 7px 20px 0 20px; }
      #CS-page .content-grid .cover-recommend, #CS-page .content-grid .quote {
        max-height: 440px;
        min-height: 440px; }
      #CS-page .content-grid .cover-headline {
        max-height: initial;
        min-height: initial; }
      #CS-page .content-grid.thumbnails {
        margin-left: 15px; }
        #CS-page .content-grid.thumbnails .img-responsive {
          width: 100%; }
        #CS-page .content-grid.thumbnails article {
          padding: 0 15px 10px 0; }
        #CS-page .content-grid.thumbnails article.col-sm-6:nth-child(even) {
          padding-left: 0;
          padding-right: 15px; }
      #CS-page .content-grid.mixed.col-sm-8 {
        margin-left: 0.3em;
        margin-right: 0.3em;
        width: auto; }
      #CS-page .content-grid.mixed.col-sm-4 {
        margin-left: 0.3em;
        margin-right: 0.3em;
        width: auto; }
      #CS-page .content-grid.masonry .col-sm-8 {
        width: 100%; }
      #CS-page .content-grid.masonry .hidden-xs {
        display: none; }
      #CS-page .content-grid.videos article {
        padding: 0; }
      #CS-page .content-grid.cover.mixed article.cover-recommend.col-xs-6 {
        width: calc(50% - 0.6em); }
      #CS-page .content-grid .quote {
        width: calc(50% - 0.6em); }
    #CS-page .content-text {
      margin-left: 15px;
      margin-right: 15px; }
      #CS-page .content-text.breadcrumbs {
        margin-left: 0;
        margin-right: 0; }
      #CS-page .content-text.counting-block {
        margin-left: 0.6em;
        margin-right: 0.6em; }
    #CS-page .breadcrumbs .btn.orange {
      min-width: 100%;

      padding: inherit 0;
      max-width: 100%;
      white-space: normal; }
    #CS-page .magazine.col-xs-12, #CS-page .side-menu.sub-menu {
      width: 100%; }
    #CS-page .side-menu img, #CS-page .side-summary {
      width: 100%; }
    #CS-page .showcase .featured-excerpt, #CS-page .modal-content .featured-excerpt {
      font-size: 11px; }
    #CS-page .modal-content .carousel-caption .photo-caption, #CS-page .modal-content .carousel-caption .featured-excerpt {
      padding-left: 40px;
      padding-right: 10px; }
    #CS-page .modal-content .carousel-control {
      bottom: 240px; }
    #CS-page .modal-content #carousel-gallery .carousel-control {
      bottom: 80px; }

  .title-header .title-header-overlay.vert-red .title, .title-header .title-header-overlay.vert-center .title {
    font-size: 40px; }
  .title-header .title-header-overlay.vert-red .tag, .title-header .title-header-overlay.vert-center .tag {
    font-size: 12px; }
  .title-header .title-header-overlay.vert-red p, .title-header .title-header-overlay.vert-center p {
    font-size: 11px; }

  .title-header.magazine {
    border-left: 0px solid #ffffff; }

  .content-text.breadcrumbs article {
    width: 50%; 

}

  .flex-order-first {
    order: -1; }

  .side-menu.col-xs-12, .content-sidebars {
    width: 100% !important; }

  .showcase .carousel-caption h3 a {
    font-size: 26px; }

  .showcase-magazine .carousel-indicators {
    display: none; }
  .showcase-magazine .carousel-caption {
    bottom: 113px;
    padding-left: 0; }
    .showcase-magazine .carousel-caption h3 {
      padding-bottom: 10px;
      max-width: 100%; }
  .showcase-magazine #carousel-photo .carousel-control {
    bottom: 360px; }
  .showcase-magazine .featured-excerpt {
    padding: 10px 30px; }

  .magazine .showcase {
    margin-left: 0; }

  .no-gap {
    padding-top: 12px !important; }

  .footer-menu ul {
    width: 25%; }
    .footer-menu ul:nth-of-type(5) {
      clear: both;
      padding-left: 0; }

  .counting-block {
    width: calc(98.5% - 0.6em); }

  /*pagination height placeholder hack */
  .pagin-placeholder {
    display: flex; }
    .pagin-placeholder img {
      max-height: 100%; }

  .modal-dialog .modal-content .modal-body #carousel-photo {
    height: calc(100% + 200px) !important; }

  .modal-body {
    width: 100%;
    overflow: hidden;
    padding: 0;
    height: 100%; }
    .modal-body img {
      width: auto;
      height: 100vh; }

  #carousel-gallery .caption {
    min-height: 60px; }
  #carousel-gallery .carousel-indicators {
    top: 10px; } }
@media only screen and (max-width: 640px) {
  /*full width columns for MOBILE asper client examples Cyan
  }
  
  @media only screen and (max-width:425px){*/
  /*full width columns for PORTRAIT to phones*/
  /*body{ background: #00ffff;}*/
  #CS-page .content-grid.thumbnails .col-xs-6, #CS-page .content-grid.thumbnails .img-responsive {
    width: 100%; }
  #CS-page .content-grid.thumbnails article {
    padding: 0 15px 10px 0; }
  #CS-page .content-grid.mixed .col-xs-6 {
    width: 100%; }
  #CS-page .content-grid .cover-recommend, #CS-page .content-grid .cover-headline,
  #CS-page .content-grid .quote {
    width: calc(100% - 0.6em) !important;
    max-height: initial;
    min-height: initial; }
  #CS-page .content-grid.cover article.cover-headline.col-xs-6, #CS-page .content-grid.cover article.cover-recommend.col-xs-6 {
    width: 100%;
    max-height: initial; }
  #CS-page .content-grid .cover-recommend img, #CS-page .content-grid .cover-recommend p {
    max-height: initial; }
  #CS-page .content-grid.cover.mixed article.cover-recommend.col-xs-12, #CS-page .content-grid.cover.mixed article.cover-recommend.col-xs-6 {
    width: calc(100% - 0.6em); }
  #CS-page .content-grid.masonry .col-sm-8 {
    min-height: auto; }
  #CS-page .content-grid .breadcrumbs .btn.orange {
    white-space: normal; }
  #CS-page .content-text.breadcrumbs .btn.orange {
    white-space: nowrap; }

  .title-header .title-header-overlay.vert-red, .title-header .title-header-overlay.vert-center {
    height: 130px; }

  /*.magazine.title-header-image.col-xs-12,*/
  .content-login .login-box input.col-xs-12 {
    width: 100% !important; }

  .showcase .carousel-caption {
    /*display:none;*/
    right: 0; }
    .showcase .carousel-caption h2 {
      font-size: 0.7em; }
    .showcase .carousel-caption h3 {
      font-size: 1em; }

  .title-header .carousel-caption h2 {
    font-size: 12px; }
  .title-header .carousel-caption h3 {
    font-size: 29px; }

  .content-login .login-box {
    padding: 1em; }

  .content-grid.post-list .col-sm-4 article, .content-grid.post-list .col-sm-4 .title-block.red {
    margin-left: 0; }

  .content-grid.cover article.cover-recommend.col-xs-6 {
    width: calc(100% - 0.6em); }

  .content-grid.cover.mixed article.cover-recommend.col-xs-6 img {
    display: block; }

  .quote.col-xs-6 {
    width: 100%; }

  .cover.masonry .col-xs-6 {
    width: 100%; }

  .showcase-magazine .carousel-caption {
    bottom: 0;
    left: 0 !important;
    right: 0 !important; }
    .showcase-magazine .carousel-caption h2 {
      padding-left: 10px; }
    .showcase-magazine .carousel-caption h3 {
      padding-left: 10px; }
    .showcase-magazine .carousel-caption .featured-excerpt {
      font-size: 11px;
      padding-left: 10px;
      height: 200px; }
  .showcase-magazine #carousel-photo .carousel-control {
    bottom: 300px;
    margin-left: 0; }

  .showcase .carousel-caption h3 a {
    font-size: 19px; }

  .modal-dialog .modal-content .modal-body #carousel-photo {
    height: calc(100% + 200px) !important; }
  .modal-dialog .modal-content .modal-body #carousel-photo .carousel-caption .photo-caption {
    padding-left: 0; }
  .modal-dialog .modal-content .modal-body #carousel-photo .carousel-caption h2 {
    padding-left: 10px; }
  .modal-dialog .modal-content .modal-body #carousel-photo .carousel-caption h3 {
    padding-left: 10px; }
  .modal-dialog .modal-content .modal-body #carousel-photo .carousel-caption .featured-excerpt {
    font-size: 11px;
    padding-left: 10px;
    height: 200px; }
  .modal-dialog .modal-content .modal-body img {
    padding-bottom: 200px; }
  .modal-dialog .modal-content .modal-body #carousel-photo .carousel-control {
    margin-left: 0; }

  blockquote {
    font-size: 25px;
    padding: 1em; }

  .title-header .title-header-overlay .tag.long {
    max-width: 60%; }

  .masonry .title-header-overlay h1.title {
    font-size: 30px; }

  .fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: calc(100vh - 127px);
    width: auto; }

  .fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    width: auto;
    /*this is needed for header banner widths on static pages */ }

  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-width: none;
    width: auto; }

  .fill .breadcrumb {
    text-align: left;
    top: 0; }

  .showcase .carousel-caption-home {
    left: 0 !important;
    right: 0 !important; }

  .modal-dialog .modal-body .fill {
    width: 100%;
    height: auto; }

  .modal-dialog .modal-content .carousel-caption h3 a {
    font-size: 16px; }

  .modal-dialog .modal-content .carousel-caption h1 a {
    font-size: 30px; }

  .footer-alt input, .footer-alt input[type="submit"] {
    width: 100%;
    margin-left: 0; }

  .footer-menu ul {
    width: 30%; }
    .footer-menu ul:nth-of-type(4) {
      clear: both;
      padding-left: 0; }
    .footer-menu ul:nth-of-type(5) {
      clear: none;
      width: 60%;
      padding-left: 17px; }
      .footer-menu ul:nth-of-type(5):after {
        margin: 0;
        border-left: none;
        padding: 0; }

  #carousel-gallery .carousel-control {
    bottom: 70px; } }
@media only screen and (max-width: 420px) {
  .modal-dialog .modal-content .modal-body img {
    padding-bottom: 150px; }

  #CS-page .modal-content .carousel-control {
    bottom: 180px; }

  .modal-dialog .modal-content #carousel-gallery .carousel-caption {
    bottom: 80px; }

  #CS-page .modal-content #carousel-gallery .carousel-control {
    bottom: 160px; } }
@media only screen and (max-width: 375px) {
  /*tiniest PORTRAIT to phones - blue*/
  /*body{ background: #000fff;}*/
  .col-xs-6 {
    width: 100%; }

  .content-grid.thumbnails {
    margin-left: 15px;
    margin-right: 15px; }
    .content-grid.thumbnails article {
      padding-left: 0 !important;
      padding-right: 0 !important; }

  .breadcrumbs {
    max-width: 375px;
    overflow: hidden; }
    .breadcrumbs .btn.orange {
      min-width: 100%; }

  .content-text.breadcrumbs article {
    width: 100%; }

  .showcase-magazine .carousel-caption h3, .showcase-magazine .showcase .carousel-caption h3 a {
    font-size: 16px; }

  .showcase .carousel-caption h3 a {
    font-size: 16px; }

  .title-header .title-header-overlay.vert-red .title, .title-header .title-header-overlay.vert-center .title {
    font-size: 1.8em; }

  .magazine .title-header-overlay .title {
    font-size: 24px; }

  .title-header .title-header-overlay {
    padding: 5px 0; }

  .modal-dialog .modal-content .carousel-caption {
    min-height: 10px; }

  .modal-dialog .modal-content .carousel-control.move-up, .carousel-control.move-up {
    bottom: 100px; }

  .modal-dialog .modal-content .carousel-control {
    bottom: 300px !important; }

  .modal-dialog .modal-content #carousel-gallery .carousel-control {
    bottom: 190px !important; }

  .modal-dialog .modal-content .modal-body img {
    padding-bottom: 110px; }

  .modal-dialog .carousel-control .icon-prev, .modal-dialog .carousel-control .icon-next, .modal-dialog .carousel-control .icon-fscreen {
    bottom: 0;
    margin-top: 0; }

  #carousel-gallery .caption {
    height: 100px; }
  #carousel-gallery .carousel-control {
    bottom: 95px; }

  #carousel-gallery
  .masonry .title-header-overlay p {
    display: none; }

  .title-header .title-header-overlay .tag.long {
    max-width: 80%; }

  .masonry .title-header-overlay h1.title {
    font-size: 24px; }

  .footer-menu .foot-menu-head {
    margin-left: auto;
    margin-right: auto; }
  .footer-menu ul {
    width: 100%;
    clear: both;
    padding-left: 0; }
    .footer-menu ul li {
      text-align: center; }
    .footer-menu ul:last-child {
      padding-left: 0;
      width: 100%; }
      .footer-menu ul:last-child:after {
        margin: 0;
        border-left: none;
        padding: 0; }

  footer .footer-logo {
    text-align: center; } }
