//
// Variables
// --------------------------------------------------

//custom
$main-color: #b7b7b7;
$text-color: #b7b7b7;
$main-page-width: 980px;
$nav-item-total: 6;

//Colours
$color-white: #ffffff;
$color-grey-light: #d7d7d7;
$color-grey-medium: #b7b7b7;
$color-grey-dark: #898989;
$color-grey-darker: #2C2D2C;
$color-grey-heavy: #222222;
$color-red: #ff0000;
$color-green: #00b254;
$color-yellow: #ffff00;
$color-black: #000000;


//recommended piece colours
$color-crimson: #fb3434;
$color-dark-pink: #f1666f;
$color-pink: #ff8a8a;
$color-blush: #f6999f;
$color-rosy: #f9b5ba;
$color-mint: #c4e4c2;
$color-sunny: #fff99d;



$overlay-white: rgba(255,255,255,0.6);
$overlay-grey: rgba(161,161,161,0.46);
$overlay-grey-darker: rgba(161,161,161,0.81);
$overlay-red: rgba(235,33,46,0.48);
$overlay-red-darker: rgba(235,33,46,0.68);
$overlay-grey-base: rgba(183,183,183,0.7); /*hamburger nav opacity*/
$overlay-grey-one: rgba(112,112,112,0.8);
$overlay-grey-two: rgba(99,99,99,0.9);

//fonts
$font-raleway: "Raleway", sans-serif;

$font-stag-body: "Stag Light", serif;
$font-stag-semibold: "Stag Semibold", serif;
$font-stag-bold: "Stag Bold", serif;

$font-helvetica: "HelveticaNeue", sans-serif;
$font-helvetica-bold: "Helvetica Neue", sans-serif;
$font-helvetica-medium-italic: "HelveticaNeueMediumItalic", sans-serif;


  //old font variables DELETE WHEN ALL FONTS REPLACED
$font-din: "din_alternatebold", sans-serif;
$font-velino-thin: "velino_text_thinthin", serif;
$font-velino-text: "velino_text_blackblack", serif;
$font-velino-textitalic: "velino_text_blackitalic", serif;

$font-family-sans-serif: $font-velino-text;

$font-size-tiny:  10px;
$font-size-default:  14px;
$font-size-small:  12px;
$font-size-base:  16px;
$font-size-big:  18px;

$font-size-h1: 30px; /*default is 41px*/
$font-size-h2: 34px; /*default is 34px*/
$font-size-h3: 28px; /*default is 28px*/
$font-size-h4: 20px; /*default is 20px*/

//letter-spacing
$letter-skinny: 0.05em;
$letter-normal: 0.075em;
$letter-wide: 0.1em;

//padding
$gutter-default: 15px;
$gutter-thin: 0.3em;
$gutter-wide: 0.5em;
$gutter-double: 20px;

//magazine sidebar widths
$width-leftbar: 29.2%;
$width-rightbar: 70.8%;

//cover height-max
$height-cover: 392px;
