{#
# Content Header include template
# -------------------------------
#
# This template is used to output HTML for the content header used all pages
#
-#}
<!-- Footer -->
<div id="CS-footer">
  <footer>
    <div class="fullwide">
      <div class="container footer-logo footer-narrow">
        <a href="#">CS Collective</a>
      </div>
    </div>
    <div class="container footer-narrow">

      <nav class="footer-menu">
        <ul>
          <li class="foot-menu-head"><a href="about">ABOUT US</a></li>
          <li><a href="about#tab1">Who We Are</a></li>
          <li><a href="about#tab1">What We Believe</a></li>
          <li><a href="about#tab1">Key People</a></li>
          <li><a href="about#tab3">Collaborators</a></li>
          <li><a href="about#tab6">Support</a></li>
          <li><a href="about#tab7">Our Boards</a></li>

        </ul>
        <ul>
          <li class="foot-menu-head"><a href="index.php?p=magazine/issue-9&magazineid=9">MAGAZINE</a></li>
          <li><a href="index.php?p=magazine/issue-9&magazineid=9">Current Issue</a></li>
          <li><a href="__home__">All Issues</a></li>
        </ul>
        <ul>
          <li class="foot-menu-head"><a href="projects">PROJECTS</a></li>
          <li><a href="projects">Current Project</a></li>
          <li><a href="projects">All Projects</a></li>
          <!-- <li><a href="projects-project.html">Exhibitions</a></li>-->
          <!-- <li><a href="projects-project.html">Films</a></li>-->
          <!-- <li><a href="projects-project.html">Convening</a></li>-->
          <!-- <li><a href="projects-project.html">CS.Praxis</a></li>
        </ul>
<!--
        <ul>
          <li class="foot-menu-head"><a href="#">CONTACT</a></li>
          <li><a href="#">Editorial</a></li>
          <li><a href="#">Subscriptions</a></li>
          <li><a href="#">General Enquiries</a></li>
          <li><a href="#">Collaborate With Us</a></li>
        </ul>-->
        <!--
        <ul class="border-left">
          <li class="foot-menu-head"><a href="login.html">SUBSCRIBE</a></li>
          <li><a href="#">issue Edition (X2 Annually)</a></li>
          <li><a href="#">Digital Edition</a></li>
          <li><a href="#">Digital & issue Edition</a></li>
          <li><a href="#">Libraries</a></li>
          <li><a href="#">Newsletters & Notices</a></li>
        </ul>-->
      </nav>


    </div>
    <div class="footer-text container">
      <hr>
      <p class="footer-res">CS Collective</p>
    </div>
  </footer>
</div>