{# # Content Header include template # ------------------------------- # # This
template is used to output HTML for the content header used all pages # -#}

<!-- Header -->
<div id="CS-header">
  <!-- Logo -->
  <header id="logo">
    <a href="#"><img src="{{ siteUrl }}images-static/logo-cityscapes@2x.png" class="img-responsive large"
        alt="Cityscapes" width="400" />
      <!--mobile logos-->
      <img src="{{ siteUrl }}images-static/logo-cityscapes-small.png" class="img-responsive small"
        alt="Cityscapes" /></a>
  </header>
  <!-- Mobile hamburger -->
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
        aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Navigation Menu -->
    {% set allowLogin = false %}

    <div id="navbar" class="navbar-collapse collapse">
      <!-- <ul class="nav nav-language">
        <li><a href="#">ENGLISH</a></li>
        <li><a href="#">ESPAÑOL</a></li>
      </ul>-->

      <!--{{craft.request.getPath()}} vs {{entry.uri}}-->

      <ul class="nav navbar-nav">
        {% if craft.request.getPath()=="__home__" %}
        <li class="active"><a href="{{ siteUrl }}__home__">Home</a></li>
        {% else %}
        <li><a href="{{ siteUrl }}__home__">Home</a></li>
        {% endif %}
        {% if craft.request.getPath()=="about" %}
        <li class="active"><a href="{{ siteUrl }}about">About Us</a></li>
        {% else %}
        <li><a href="{{ siteUrl }}about">About Us</a></li>
        {% endif %}
        {% set magPage = craft.entries.section('magazinesPage').first()%}
        {% set mag = magPage.magazineDefault.first() %}
        {% set magazineId = mag.magazineNumber %}
        {%if craft.request.getPath()=="magazine" %}
        <li class="active"><a href="{{ mag.url }}&magazineid={{magazineId}}"></a>Magazine</a></li>
        {% else %}
        <li><a href="{{ mag.url }}&magazineid={{magazineId}}">Magazine</a></li>
        {% endif %}
        {% if craft.request.getPath()=="projects" %}
        <li class="active"><a href="{{ siteUrl }}projects">Projects</a></li>
        {% else %}
        <li><a href="{{ siteUrl }}projects">Projects</a></li>
        {% endif %}
        {% if craft.request.getPath()=="cspraxis" %}
       <!-- <li class="active"><a href="{{ siteUrl }}cspraxis">CS.PRAXIS</a></li>-->
        {% else %}
       <!--   <li><a href="{{ siteUrl }}cspraxis">CS.PRAXIS</a></li>-->
        {% endif %}
        {% if craft.request.getPath()=="dispatches" %}
        <li class="active">
          <a href="{{ siteUrl }}dispatches">Dispatches</a>
        </li>
        {% else %}
        <li><a href="{{ siteUrl }}dispatches">Dispatches</a></li>
        {% endif %}

        <li class="mobile-nav-login"><a href="#">Sign-Up / Login</a></li>
      </ul>
      {%if allowLogin %}
      <ul class="nav nav-login">
        <li><a href="#">login/signup</a></li>
      </ul>
      {% endif %}
    </div>
  </nav>
</div>