{% extends "sproutreports/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% if not currentUser.can('sproutReports-editReports') %}
	{% redirect 'sproutreports' %}
{% endif %}

{% set title = report['id'] is defined and report['id'] is not empty ? "Edit Report" : "New Report" %}

{% set crumbs = [
	{ label: "Reports"|t, url: url('sproutreports') }
] %}

{% set groups = craft.sproutReports.getReportGroups() %}

{% if groups | length %}
	{% set groupId = report is defined ? report.groupId : null %}

	{% if not groupId %}
		{% set groupId = groups|keys[0] %}
	{% endif %}

	{% if groups[groupId] is not defined %}
		{% exit 404 %}
	{% endif %}
{% endif %}

{% set fullPageForm = true %}

{% block saveButton %}
	<div class="button">
		<div class="btngroup">
			<input type="submit" class="btn submit" value="{{ 'Save Report'|t }}">

			<div class="btn submit menubtn"></div>
			<div class="menu">
				<ul>
					<li><a class="formsubmit" data-redirect="sproutreports/reports/sproutreports/query/edit/{id}">{{ "Save and continue editing"|t }}</a></li>
					<li><a class="formsubmit" data-redirect="{{ dataSource.getUrl('/new') }}">{{ "Save and add another report"|t }}</a></li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block main %}

	<input type="hidden" name="action" value="sproutReports/reports/saveReport">
	<input type="hidden" name="redirect" value="sproutreports/reports">
	<input type="hidden" name="dataSourceId" value="{{ dataSource.id }}">

	<div class="grid first" data-max-cols="3">
		<div class="item" data-position="left" data-colspan="2">
			<div class="pane" >

				{% if report is defined %}
					<input type="hidden" name="id" value="{{ report.id }}">
				{% endif %}

				{{ forms.textField({
					label: "Name"|t,
					instructions: "What this report will be called in the CP. <a href='#' class='fieldtoggle
					instructionstoggle' data-target='toggle-nameformat'>Add a Name Format</a>."|t,
					id: "name",
					name: 'name',
					value: report is defined ? report.name : "",
					errors: report is defined ? report.getErrors('name') : "",
					required: true,
					first: true,
					autofocus: true
				}) }}

				<div id="toggle-nameformat" class="{{ report.nameFormat ?: 'hidden' }}">
		      {{ forms.textField({
	          label: "Name Format"|t,
	          instructions: "Auto-generate your Report Name using option values, such as <code>{startDate|date('F d,
	          Y')}</code>"|t|raw,
	          name: 'nameFormat',
	          value: report.nameFormat,
	          errors: '',
	          class: 'nicetext'
		      }) }}
				</div>

				{{ forms.textField({
					label: "Description"|t,
					instructions: "A description of your report that will appear in the info bubble next to your Report Name on the Reports Index page."|t,
					name: 'description',
					rows: 3,
					value: report is defined ? report.description : "",
					errors: report is defined ? report.getErrors('description') : ""
				}) }}

			</div>

			{% if dataSource is defined %}

				{% set optionsHtml = dataSource.getOptionsHtml(report.options) %}

				{% if optionsHtml %}

					<div class="pane">
						{{ optionsHtml | raw }}
					</div>

				{% endif %}

			{% endif %}

		</div>
		<div class="item" data-position="right" data-colspan="1">

			<div class="pane meta">

				{% set dataSourceNameLabel = "<h6>" ~ dataSource.name ~ "</h6>" %}

				{{ forms.field({
					label: "Data Source"|t,
				}, dataSourceNameLabel) }}

				{% if groups | length %}

					{% set groupOptions = [] %}
					{% for group in groups %}
						{% set groupOptions = groupOptions|merge([{ label: group.name, value: group.id }]) %}
					{% endfor %}

					{{ forms.selectField({
						first: true,
						label: "Group <span class='info'>Which group should this report be displayed in?</span>"|t,
						id: 'groupId',
						name: 'groupId',
						options: groupOptions,
						value: groupId
					}) }}

				{% endif %}

			</div>

			<div class="pane meta">

				{{ forms.textField({
					label: "Handle"|t,
					id: 'handle',
					name: 'handle',
					required: true,
					value: report is defined ? report.handle : "",
					errors: report is defined ? report.getErrors('handle') : ""
				}) }}

				{% if dataSource.isAllowHtmlEditable() %}
					{{ forms.lightSwitchField({
						label: 'Allow HTML <span class="info">Render HTML in your report results. Don\'t enable this setting if you allow user submitted content.</span>'|t,
						name: 'allowHtml',
						on: report.allowHtml is defined ? report.allowHtml : dataSource.getDefaultAllowHtml()
					})}}
				{% endif %}

				{% set statusInput %}
					<div class="left">
						{{ forms.lightSwitchField({
							name: 'enabled',
							on: report is defined ? report.enabled : true
						})}}
					</div>

					<div class="right">
						{% if report is defined %}
								<input type="button" class="btn small formsubmit" value="Delete" data-param="reportId" data-value="{{ report.id }}" data-action="sproutReports/reports/deleteReport" data-confirm="Are you sure you want to delete this report?" data-redirect="sproutreports" tabindex="0">
						{% endif %}
					</div>
				{% endset %}

				{{ forms.field({
					label: "Enabled"|t,
				}, statusInput) }}

			</div>

		</div>
	</div>

{% endblock %}

{% includeCssResource "sproutreports/css/styles.css" %}

{% if report is not defined or not report.handle %}
	{% includeJs "new Craft.HandleGenerator('#name', '#handle');" %}
{% endif %}
