{% extends "sproutreports/_layouts/base" %}

{% set title  = "Reports"|t %}
{% set groups = craft.sproutReports.getReportGroups() %}

{% set selectedTab = 'reports' %}

{% if groupId is defined %}
	{% if groups[groupId] is not defined %}
		{% exit 404 %}
	{% endif %}

	{% set reports = craft.sproutReports.getReportsByGroupId(groupId) %}
{% else %}
	{% set reports = craft.sproutReports.getReports() %}
{% endif %}

{% set dataSources = craft.sproutReports.getDataSources() %}

{% set extraPageHeaderHtml %}
	{% if currentUser.can('sproutReports-editReports') %}

		{% set newReportOptions = [] %}

		{% for id, dataSource in dataSources %}
			{% if dataSource.allowNew() %}
				{% set newReportOptions = newReportOptions|merge([{
					name: dataSource.getName(),
					url: dataSource.getUrl('/new')
				}]) %}
			{% endif %}
		{% endfor %}

		{% if newReportOptions|length %}
			<div class="btngroup submit first">
				<a class="btn submit add icon" href="{{ newReportOptions[0].url }}">{{ "New Report"|t }}</a>
				{% if dataSources %}
					<div class="btn submit menubtn"></div>
					<div class="menu">
						<ul>
							{% for option in newReportOptions %}
								<li><a class="formsubmit" href="{{ option.url }}">{{ option.name }}</a></li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			</div>
		{% endif %}

	{% endif %}
{% endset %}

{% block content %}

	<form method="post" accept-charset="UTF-8">
		{{ getCsrfInput() }}

		<div class="tableview">
			<table class="data fullwidth">
				<thead>
				<tr>
					<th class="sproutreports-reportname" style="width:60%;">{{ "Name"|t }}</th>
					<th class="sproutreports-datasource" style="width:35%;">{{ "Data Source"|t }}</th>
					<th class="thin"></th>

					{% if currentUser.can('sproutReports-editReports') %}
					<th class="thin"></th>
					{% endif %}

				</tr>
				</thead>
				<tbody>
				{% for report in reports %}
					<tr>
						<td class="sproutreports-reportname">
							<a href="{{ cpUrl('sproutreports/reports/view/' ~ report.id) }}">
								<strong>
									{% if report.nameFormat %}
										{{ report.processNameFormat() }}
									{% else %}
										{{ report.name }}
									{% endif %}
								</strong>
							</a>

							{% if report.description %}
								<span class="info">{{ report.description }}</span>
							{% endif %}
						</td>
						<td class="sproutreports-reportdatasource">
							{{ report.getDataSource().getName() }}
						</td>

						<td class="sproutreports-reportactions">
							<a href="{{ actionUrl('sproutReports/reports/exportReport', {reportId: report.id}) }}" class="btn small">{{ "Download"|t }}</a>
						</td>

						{% if currentUser.can('sproutReports-editReports') %}
						<td class="sproutreports-reportactions">
							<a href="{{ report.getEditUrl() }}" title="Edit Report Settings" data-icon="settings"></a>
						</td>
						{% endif %}

					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>

	</form>

	<div class="grid">
		<div class="item">
			{{ parent() }}
		</div>
	</div>

{% endblock %}

{% block sidebar %}

	<nav>
		<ul id="groups">

			<li><a href="{{ url('sproutreports') }}"{% if groupId is not defined %} class="sel"{% endif %}>{{ "All Reports"|t }}</a></li>

			{% for group in groups %}
				<li><a href="{{ url('sproutreports/reports/'~group.id) }}"{% if groupId is defined and group.id == groupId %} class="sel"{% endif %} data-id="{{ group.id }}">{{ group.name }}</a></li>
			{% endfor %}

		</ul>
	</nav>

	{% if currentUser.can('sproutReports-editReports') %}

		<div class="buttons">
			<div id="newgroupbtn" class="btn add icon">{{ "New Group"|t }}</div>

			{% if groupId is defined %}
				<div id="groupsettingsbtn" class="btn settings icon menubtn" title="{{ 'Settings' }}"></div>
				<div class="menu">
					<ul>
						<li><a data-action="rename" role="button">{{ "Rename selected group"|t }}</a></li>
						<li><a data-action="delete" role="button">{{ "Delete selected group"|t }}</a></li>
					</ul>
				</div>
			{% endif %}
		</div>

	{% endif %}

{% endblock %}

{% includeCssResource "sproutreports/css/styles.css" %}
{% includeJsResource "sproutreports/js/groups.js" %}