{% extends "_layouts/site" %}
{% block main %}
<!-- Main Content Page -->
<div id="CS-page">

  <!-- magazine Detail-->
  <!-- Side Bar -->
  <section class="content-sidebars row-eq-height">
    <div class="flex-container">
      <!-- left Bar -->
      <aside class="col-xs-12 col-sm-3 side-menu">
        <!-- cover 
        <section class="showcase">
          <div id="carousel-featured" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              {% set magazine = entry.articleMagazine.first() %}
              {% set image = entry.projectBanner.first() %}
              {% set magazineId = entry.articleMagazine.first().magazineNumber%}
              {% if image %}
              <div class="item active"><a href="{{magazine.url}}&magazineid={{magazineId}}"><img
                    src="{{image.getUrl('cover')}}" alt="Cover"></a>
              </div>
              {% endif %}
            </div>
          </div>
        </section> -->
        <!-- Breadcrumbs-->
        <article class="breadcrumb space-top">
          <button type="button" class="btn orange">360 View</button>
        </article>
        <nav class="sub-menu">
          <ul class="nav">
            {% for item in entry.elsewhere%}
            {% set itemUrl = item.elsewhereUrl is defined ? item.elsewhereUrl : item.elsewherePDF %}
            <li>
              <h4>{{item.elsewhereType.first()}}</h4><a href={{itemUrl}} target="_blank">{{item.elsewhereTitle}}</a>
            </li>
            {% endfor %}

          </ul>
        </nav>

      </aside>

      <!-- right content -->
      <section class="col-xs-12 col-sm-9 magazine flex-order-first title-header showcase">

        {% set bannerArticle = entry%}
        {% set bannerImage=bannerArticle.projectBanner.first() %}
        {% set bannerTitle = bannerArticle.title is defined ? bannerArticle.title : '' %}
        {% set magazineNumber = bannerArticle.articleMagazineNumber is defined ? bannerArticle.articleMagazineNumber : '' %}
        {% set bannerCategory = bannerArticle.articleCategory.first() is defined ? bannerArticle.articleCategory.first() : '' %}

        {% set articleTitle = entry.title is defined ? entry.title : '' %}
        {% set articleSummary = entry.articleSummary is defined ? entry.articleSummary : '' %}
        {% set articleBody1 = entry.articleBody1 is defined ? entry.articleBody1 : '' %}
        {% set articleBody2 = entry.articleBody2 is defined ? entry.articleBody2 : '' %}
        {% set articleBody3 = entry.articleBody3 is defined ? entry.articleBody3 : '' %}
        {% set articleAuthor = entry.articleAuthor is defined ? entry.articleAuthor  : '' %}
        {% set articleAuthorAbout = entry.articleAuthorAbout is defined ? entry.articleAuthorAbout  : '' %}
        {% set magazinePostDate= magazine.postDate | date("d M, Y") %}

        {% set articlePostDate= entry.postDate | date("d M, Y") %}

        {% set isSubscribe =false %}
        {% set allowSocial =false %}
        <article>
          <!--header overlay image-->
          {% if image %}
          <div bannerImage="title-header-image">
            <img src="{{ bannerImage.getUrl() }}" class="img-responsive">
          </div>
          {% endif %}
          <!--carasel caption-->
          <div class="carousel-caption carousel-caption-black">
            <h2>{{bannerCategory}}</h2>
            <h3>{{bannerTitle}}</h3>
          </div>
        </article>

        <article class="space-bottom space-top">
          <div class="intro no-gap"><i>{{articleSummary}}</i></div>
          <h4 class="date date-magazine">Words by <span class="author">{{articleAuthor}}</span> |
            {{magazinePostDate }}</h4>
          {% if allowSocial %}
          <!-- social share icons -->
          <div class="social-icons">
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-facebook"></a>
            <!--  <a href="#" class="fa fa-instagram"></a>-->
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-email"></a>
            <!--  <a href="#" class="fa fa-print"></a>-->

          </div>
          {% endif %}
          {{articleBody1}}
          {% if articleBody2 %}
          {% if  not isSubscribe %}
          <p><span class="article-login"><a href="#"">Full article available on login</a></span></p>

          {% endif %}

          {% endif %}


          {% set checkGallery=entry.articleGallery.first() %}
          {% if checkGallery %}
          <!-- Gallery Carousel-->
          <section class=" showcase slideshow">
                <div id="carousel-gallery" class="carousel slide carousel-fit flex-container" data-ride="carousel">

                  <div class="carousel-inner flex-item" role="listbox">

                    {% for image in entry.articleGallery%}
                    <!--Gallery Slides -->
                    {% if loop.index==1%}
                    <div class="item active">
                      <img src="{{ image.getUrl('gallery') }}" alt="Gallery">
                      <div class="carousel-caption caption featured-excerpt">{{image.imageBody}}</div>
                    </div>
                    {% else %}
                    <div class="item">
                      <img src="{{ image.getUrl('gallery') }}" alt="Gallery">
                      <div class=" carousel-caption caption featured-excerpt">{{image.imageBody}}</div>
                    </div>
                    {% endif %}
                    {% endfor %}

                  </div>

                  <!-- Controls (squares)-->
                  <a class="left carousel-control square" href="#carousel-gallery" role="button" data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control square" href="#carousel-gallery" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                  <a class="fscreen carousel-control square" href="#carousel-gallery" role="button" data-toggle="modal"
                    data-target="#myModal" data-local="#carousel-gallery">
                    <span class="icon-fscreen" aria-hidden="true"></span>
                    <span class="sr-only">Fullscreen</span>
                  </a>
                </div>
      </section>

      <!-- Modal -->
      <div class="modal fade modal-fullscreen force-fullscreen" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">

            </div>
          </div>
        </div>
      </div>
      {% endif %}




      {% if isSubscribe %}
      {{articleBody2}}
      {{articleBody3}}
      {% endif %}
      {% if articleAuthorAbout !='' %}
      <hr>
      {{articleAuthorAbout}}
      <hr>
      {% endif %}


      </article>
  </section>

</div>
</section>


</div>
{% endblock %}