<!-- Side Bar -->
<section class="content-sidebars row-eq-height">
    <div class="flex-container">
        <!-- left Bar -->
        <aside class="col-xs-12 col-sm-3 zebra side-summary">
            {% for blog in entry.projectsBlogItems %}
            <article>
                <h3>{{blog.title}}</h3>
                {{blog.articleSummary}}
            </article>
            {% endfor %}


        </aside>

        <!-- right content -->
        <section class="showcase magazine col-xs-12 col-sm-9 title-header flex-order-first">
            {% for blog in entry.projectsBlogItems %}
            {% set bannerImage=blog.projectsBlogBanner.first() %}
            {% set categoryColour = blog.dispatchesCategory.first().categoryColour %}
            <article class="carousel-inner">
                <!--header overlay image-->
                {% if bannerImage %}
                <div class="title-header-image fill">
                    <img src="{{ bannerImage.getUrl() }}">
                </div>
                {% else %}
                <div class="title-header-image fill" style="background: {{categoryColour}}">
                    {% if categoryColour %}
                    <img src="images-static/recommend-blank.jpg" alt="recommended" width="692" height=""
                        style="opacity: 0.0">
                    {% else %}
                    <img src="images-static/recommend-blank.jpg" alt="recommended" width="692" height=""
                        style="opacity: 0.3">
                    {% endif %}

                </div>
                {% endif %}


                <!--carosel caption-->
                <div class="carousel-caption">
                    <h2>{{ blog.dispatchesCategory.first() }}</h2>
                    <h3>{{ blog.title }}</h3>
                </div>
            </article>

            <!--page article starts-->
            <article>
                <div class="intro top-gap">{{ blog.articleSummary }}</div>
                <h4 class="date date-magazine">Words by <span class="author">{{blog.articleAuthor}}</span> |
                    {{blog.articleDate | date("M d, Y") }}</h4>
                <!-- social share icons -->
                <div class="social-icons">
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-facebook"></a>
                    <!--  <a href="#" class="fa fa-instagram"></a>-->
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-email"></a>
                    <!--  <a href="#" class="fa fa-print"></a>-->
                </div>

                {{blog.articleBody1}}
                <hr>
            </article>
            {% endfor %}


        </section>
    </div>
</section>