<section class="content-grid cover masonry projects">
    {# Loop through this project articles#}
    {% for article in entry.projectArticles%}
    {% set image = article.projectBanner.first() %}
    <article class="col-xs-6 col-sm-4 title-header">
        <img src="{{image.getUrl('masonaryNarrow')}}" alt="Cover">
        <div class="title-header-overlay">
            <h2 class="title"><a href="{{ article.url }}">{{article.title}}</a></h2>
            {{article.articleSummary}}
        </div>
    </article>
    {% endfor %}
</section>