{# # Magazine template # ----------------- # # This template gets loaded whenever the site's homepage is requested,
because
# the "Homepage" single-entry section's Template setting is set to "index". # # An `entry` variable will be
automatically
passed to this template, which will # be set to the Homepage entry. -#}
{% extends "_layouts/site" %}
{% block main %}
<!-- Main Content Page -->
<div class="flex-container" id="CS-page">
    <!-- Showcase with slideshow-->
    <section class="showcase slideshow flex-order-first">

        <div class="carousel slide carousel-fit flex-container" data-ride="carousel" id="carousel-featured">
            <div class="carousel-inner flex-item" role="listbox">

                <!--Slides -->

                {% set count=1 %}
                {# Loop through this banner entries#}

                {% for banner in entry.homeBanners%}
                {% set bannerTitle = banner.title is defined ? banner.title : '' %}
                {% set bannerSubTitle = banner.subtTitle is defined ? banner.subTitle : '' %}
                {% set bannerCategory = banner.projectCategory.first() is defined ? banner.projectCategory.first() : '' %}
                {% set image=banner.projectBanner.first() %}
                {% if image %}
                {% if loop.index==1%}
                <section class="showcase magazine title-header active item fill">
                    <a href="{{banner.url}}">
                        <article>

                            <div class="title-header-image fill">
                                <img src="{{ image.getUrl() }}" class="">
                            </div>

                            <div class="title-header-overlay carousel-caption">
                                <h2 class="tag tag-darker">{{bannerCategory}}</h2>
                                <h1 class="title">
                                    {{bannerTitle}}
                                </h1>
                                <p>{{bannerSubTitle}}</p>
                            </div>
                        </article>
                    </a>
                </section>
                {% else %}
                <section class="showcase magazine title-header item fill">
                    <a href="{{banner.url}}">
                        <article>

                            <div class="title-header-image fill">
                                <img src="{{ image.getUrl() }}" class="">
                            </div>

                            <div class=" title-header-overlay carousel-caption">
                                <h2 class="tag tag-darker">{{bannerCategory}}</h2>
                                <h1 class="title">
                                    {{bannerTitle}}
                                </h1>
                                <p>{{bannerSubTitle}}</p>
                            </div>
                        </article>
                    </a>
                </section>
                {% endif %}

                {% endif %}
                {% set count =count+1 %}
                {% endfor %}

            </div>

            <!-- Controls Squares-->
            <a class="left carousel-control square move-up" data-slide="prev" href="#carousel-featured" role="button">
                <span aria-hidden="true" class="icon-prev"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control square move-up" data-slide="next" href="#carousel-featured" role="button">
                <span aria-hidden="true" class="icon-next"></span>
                <span class="sr-only">Next</span>
            </a>
            <a class="fscreen carousel-control square move-up" data-local="#carousel-featured" data-target="#myModal"
                data-toggle="modal" href="#carousel-featured" role="button">
                <span aria-hidden="true" class="icon-fscreen"></span>
                <span class="sr-only">Fullscreen</span>
            </a>
        </div>
    </section>


    <!-- Modal -->
    <div class="modal fade modal-fullscreen force-fullscreen" id="myModal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

    <div class="page-content">
        <!-- Masonry Text and Grid-->
        <!--2 | 1 -->
        <section class="content-grid cover magazine masonry flex-container">
            <div></div>

            {% set toggleMasonary = 1 %}
            {% set count=true %}
            {# Loop through this banner entries#}

            {% for banner in entry.homeBanners%}
            {% set bannerTitle = banner.title is defined ? banner.title : '' %}
            {% set bannerSubTitle = banner.subtTitle is defined ? banner.subTitle : '' %}
            {% set bannerCategory = banner.projectCategory.first() is defined ? banner.projectCategory.first() : '' %}
            {% set image=banner.projectBanner.first() %}


            {% if image %}


            {% if loop.index %2==1%}

            {% if toggleMasonary==1 %}
           
            <article class="col-xs-6 col-sm-8 title-header">
                    <a href="{{banner.url}}">
                <img src="{{ image.getUrl('masonaryWide') }}" alt="Cover">
                <div class="title-header-overlay overlay-darker">
                    <h2 class="tag tag-darker">{{bannerCategory}}</h2>
                    <h1 class="title">
                        {{bannerTitle}}
                    </h1>
                    <p>{{bannerSubTitle}}</p>
                </div>
            </a>
            </article>
        

            {% else %}
          
            <article class="col-xs-6 col-sm-4 title-header">
                  <a href="{{banner.url}}">
                <img src="{{ image.getUrl('masonaryNarrow') }}" alt="Cover">
                <div class="title-header-overlay overlay-darker">
                    <h2 class="tag tag-darker">{{bannerCategory}}</h2>
                    <h1 class="title">
                        {{bannerTitle}}
                    </h1>
                    <p>{{bannerSubTitle}}</p>
                </div>
                  
            </article>
        </a>
            {% endif %}

            {% endif %}

            {% if loop.index %2==0%}

            {% if toggleMasonary==0 %}
           
            <article class="col-xs-6 col-sm-8 title-header">
                <a href="{{banner.url}}">
                <img src="{{ image.getUrl('masonaryWide') }}" alt="Cover">
                <div class="title-header-overlay overlay-darker">
                    <h2 class="tag tag-darker">{{bannerCategory}}</h2>
                    <h1 class="title">
                       {{bannerTitle}}
                    </h1>
                    <p>{{bannerSubTitle}}</p>
                </div>
            </a>
            </article>
       

            {% else %}
          
            <article class="col-xs-6 col-sm-4 title-header">
                  <a href="{{banner.url}}">
                <img src="{{ image.getUrl('masonaryNarrow') }}" alt="Cover">
                <div class="title-header-overlay overlay-darker">
                    <h2 class="tag tag-darker">{{bannerCategory}}</h2>
                    <h1 class="title">
                      {{bannerTitle}}
                    </h1>
                    <p>{{bannerSubTitle}}</p>
                </div>
            </a>
            </article>
      

            {% endif %}

            {% if toggleMasonary==1 %}
            {% set toggleMasonary = 0 %}
            {% else %}
            {% set toggleMasonary = 1 %}
            {% endif %}
            {% endif %}


            {% endif %}


            {% endfor %}


            <!--blank cover
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <article class="col-xs-6 col-sm-4 title-header hidden-xs">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  <img src="images-static/cover-placeholder.png">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                </article>-->
        </section>
    </div>
</div>
{% endblock %}