<section class="content-grid cover">
	<!--Cover recommended article-->

	{# Loop through this pages people entries#} {% for block in
	entry.projectResources %} {% set image = block.projectImage.first() %}

	<article class="cover-recommend rosy col-xs-6 col-sm-4">
		{% if image %} {% endif %} {% if image %}
		<img src="{{ image.getUrl('recommend') }}" alt="Cover" />

		{% else %}

		<img
			src="images-static/recommend-blank.jpg"
			alt="recommended"
			width="695"
			height=""
			style="opacity: 0.5"
		/>

		{% endif %} {% set itemUrl = block.resourceUrl is defined ?
		block.resourceUrl : "" %} {%set resourceTitle="WEBSITE LINK" %} {% if
		itemUrl =="#" %} {% set itemUrl = block.resourceAudio is defined ?
		block.resourceAudio : "" %} {%set resourceTitle="AUDIO INTERVIEW" %} {%
		endif %} {% if itemUrl =="" %} {% set itemUrl = block.resourceVideo is
		defined ? block.resourceVideo : "" %} {%set resourceTitle="VIDEO INTERVIEW"
		%} {% endif %}

		<h2>{{ resourceTitle }}</h2>
		<h1>
			<a href="{{ itemUrl }}" target="_blank">{{ block.resourceTitle }}</a>
		</h1>
		<p>{{ block.resourceSummary }}</p>
	</article>

	{% endfor %}
</section>
