{#
# About template
# -----------------
#
# This template gets loaded whenever the site's homepage is requested, because
# the "Homepage" single-entry section's Template setting is set to "index".
#
# An `entry` variable will be automatically passed to this template, which will
# be set to the Homepage entry.
-#}

{% extends "_layouts/site" %}

{% block main %}

<!-- Main Content Page -->
<div id="CS-page">

  <!-- Image showcase -->
  <section class="showcase">
    {% set image = entry.articleBanner.first() %}
    {% if image %}
    <img src="{{ image.getUrl('banner') }}" class="img-responsive">
    {% endif %}
  </section>

  <div class="page-content">
    <!-- title blocks breadcrumbs -->
    <section class="content-text space-top">
      <!--this is tabbed content buttons to show hide -->
      <ul class="nav nav-tabs">
        <li class="active">
          <article class="title-block">
            <h2><a data-toggle="tab" href="#tab1">Who we are</a></h2>
          </article>
        </li>
        <li>
          <article class="title-block">
            <h2><a data-toggle="tab" href="#tab2">What we believe</a></h2>
          </article>
        </li>
      </ul>
    </section>

    <!--tabbed content-->
    <div class="tab-content">
      <!--  tabbed 2 Text -->
      <div id="tab1" class="tab-pane fade in active">
        <section class="content-text space-bottom">
          {{entry.aboutBody}}
        </section>
      </div>

      <!--  tabbed 2 Text -->
      <div id="tab2" class="tab-pane fade">
        <section class="content-text space-bottom">
          {{entry.aboutValues}}
        </section>
      </div>

    </div>

    <!-- Text and Grid-->
    <section class="content-text">
      <article class="title-block">
        <h2>Core Team</h2>
      </article>
    </section>

    <section class="content-grid thumbnails">
      {# Loop through this pages people entries#}
      {% for block in entry.aboutCore %}
      {% set image = block.image.first()%}
      {% if image %}

      <article class="col-xs-6 col-sm-4">
        <img src="{{ image.getUrl('person') }}" alt="Thumbnail" class="img-responsive">
        <p><span
            class="person"><b>{{block.fullname}}</b><br>{{block.role}}{%if block.location %}<br>{{block.location}}{% endif %}</span><br>{{block.bio}}
        </p>
      </article>
      {% endif %}
      {% endfor %}
    </section>


    <!-- Text and Grid-->
    <!-- title blocks breadcrumbs -->
    <!--tabbed filter -->
    <section class="content-text">
      <ul class="nav nav-tabs">
        <li class="active">
          <article class="title-block">
            <h2><a data-toggle="tab" href="#tab3">All Collaborators</a></h2>
          </article>
        </li>
        <li>
          <article class="title-block">
            <h2><a data-toggle="tab" href="#tab4">Institutions</a></h2>
          </article>
        </li>
        <li>
          <article class="title-block">
            <h2><a data-toggle="tab" href="#tab5">Individuals</a></h2>
          </article>
        </li>
        <li>
          <article class="title-block">
            <h2><a data-toggle="tab" href="#tab6">Support</a></h2>
          </article>
        </li>
      </ul>
    </section>



    <div class="tab-content">
      <!--  tabbed 3 Text -->
      <div id="tab3" class="tab-pane fade in active">
        <section class="content-grid thumbnails">
          {# Loop through this pages coloaborator entries#}
          {% for block in entry.aboutCollaborators %}
          {% set image = block.image .first()%}
          {% if image %}
          <article class="col-xs-6 col-sm-4">
            <img src="{{ image.getUrl('person') }}" alt="Thumbnail" class="img-responsive">
            <p><span
                class="person"><b>{{block.fullname}}</b><br>{{block.role}}{%if block.location %}<br>{{block.location}}{% endif %}</span><br>{{block.bio}}
            </p>
          </article>
          {% endif %}
          {% endfor %}
        </section>
      </div>
      <!--  tabbed 4 Text -->
      <div id="tab4" class="tab-pane fade">
        <section class="content-grid thumbnails">
          <section class="content-grid thumbnails">
            {# Loop through this pages coloaborator entries#}
            {% for block in entry.aboutCollaborators %}
            {% set image = block.image .first()%}
            {% if image and block.category.first() == 'Institutions'%}
            <article class="col-xs-6 col-sm-4">
              <img src="{{ image.getUrl('person') }}" alt="Thumbnail" class="img-responsive">
              <p><span
                  class="person"><b>{{block.fullname}}</b><br>{{block.role}}{%if block.location %}<br>{{block.location}}{% endif %}</span><br>{{block.bio}}
              </p>

            </article>
            {% endif %}
            {% endfor %}
          </section>
        </section>
      </div>
      <!--  tabbed 5 Text -->
      <div id="tab5" class="tab-pane fade">
        <section class="content-grid thumbnails">
          <section class="content-grid thumbnails">
            {# Loop through this pages coloaborator entries#}
            {% for block in entry.aboutCollaborators %}
            {% set image = block.image .first()%}
            {% if image and block.category.first() == 'Individuals'%}
            <article class="col-xs-6 col-sm-4">
              <img src="{{ image.getUrl('person') }}" alt="Thumbnail" class="img-responsive">
              <p><span
                  class="person"><b>{{block.fullname}}</b><br>{{block.role}}{%if block.location %}<br>{{block.location}}{% endif %}</span><br>{{block.bio}}
              </p>
            </article>
            {% endif %}
            {% endfor %}
          </section>
        </section>
      </div>
      <!--  tabbed 6 Text -->
      <div id="tab6" class="tab-pane fade">
        <section class="content-grid thumbnails">
          <section class="content-grid thumbnails">
            {# Loop through this pages coloaborator entries#}
            {% for block in entry.aboutCollaborators %}
            {% set image = block.image .first()%}
            {% if image and block.category.first() == 'Support'%}
            <article class="col-xs-6 col-sm-4">
              <img src="{{ image.getUrl('person') }}" alt="Thumbnail" class="img-responsive">
              <p><span
                  class="person"><b>{{block.fullname}}</b><br>{{block.role}}{%if block.location %}<br>{{block.location}}{% endif %}</span><br>{{block.bio}}
              </p>
            </article>
            {% endif %}
            {% endfor %}
          </section>
        </section>
      </div>
    </div>

    <!-- title blocks breadcrumbs vs heading- not full width-->
    <!--tabbed filter content-->
    <!--active is class="title-d-pink"-->
    <section class="content-text">
      <ul class="nav nav-tabs">
        <li class="active">
          <article class="title-block">
            <h2><a data-toggle="tab" href="#tab7">All Boards</a></h2>
          </article>
        </li>
        <li>
          <article class="title-block">
            <h2><a data-toggle="tab" href="#tab8">Executive Board</a></h2>
          </article>
        </li>
        <li>
          <article class="title-block">
            <h2><a data-toggle="tab" href="#tab9">Editorial Board</a></h2>
          </article>
        </li>
        <li>
          <article class="title-block">
            <h2><a data-toggle="tab" href="#tab10">Advisory Board</a></h2>
          </article>
        </li>
    </section>

    <div class="tab-content">
      <!--  tabbed 7 Text -->
      <div id="tab7" class="tab-pane fade in active">
        <section class="content-grid thumbnails">

          {# Loop through this pages board entries#}
          {% for block in entry.aboutBoard %}
          {% set image = block.image .first()%}
          {% if image %}
          <article class="col-xs-6 col-sm-4">
            <img src="{{ image.getUrl('person') }}" alt="Thumbnail" class="img-responsive">
            <p><span class="person"><b>{{block.fullname}}</b><br>{{block.role}}</span><br>{{block.bio}}</p>
          </article>
          {% endif %}
          {% endfor %}


        </section>
      </div>
      <!--  tabbed 8 Text -->
      <div id="tab8" class="tab-pane fade">
        <section class="content-grid thumbnails">
          {# Loop through this pages board entries#}
          {% for block in entry.aboutBoard %}
          {% set image = block.image .first()%}
          {% if image and block.category.first() == 'Executive Board'%}
          <article class="col-xs-6 col-sm-4">
            <img src="{{ image.getUrl('person') }}" alt="Thumbnail" class="img-responsive">
            <p><span class="person"><b>{{block.fullname}}</b><br>{{block.role}}</span><br>{{block.bio}}</p>
          </article>
          {% endif %}
          {% endfor %}
        </section>
      </div>
      <!--  tabbed 9 Text -->
      <div id="tab9" class="tab-pane fade">
        <section class="content-grid thumbnails">
          {# Loop through this pages board entries#}
          {% for block in entry.aboutBoard %}
          {% set image = block.image .first()%}
          {% if image and block.category.first() == 'Editorial Board'%}
          <article class="col-xs-6 col-sm-4">
            <img src="{{ image.getUrl('person') }}" alt="Thumbnail" class="img-responsive">
            <p><span class="person"><b>{{block.fullname}}</b><br>{{block.role}}</span><br>{{block.bio}}</p>
          </article>
          {% endif %}
          {% endfor %}
        </section>
      </div>
      <!--  tabbed 10 Text -->
      <div id="tab10" class="tab-pane fade">
        <section class="content-grid thumbnails">
          {# Loop through this pages board entries#}
          {% for block in entry.aboutBoard %}
          {% set image = block.image .first()%}
          {% if image and block.category.first() == 'Advisory Board'%}
          <article class="col-xs-6 col-sm-4">
            <img src="{{ image.getUrl('person') }}" alt="Thumbnail" class="img-responsive">
            <p><span class="person"><b>{{block.fullname}}</b><br>{{block.role}}</span><br>{{block.bio}}</p>
          </article>
          {% endif %}
          {% endfor %}
        </section>
      </div>
    </div>
  </div>
</div>

{% endblock %}