{%- import "_includes/forms" as forms -%}
{%- import 'sproutreports/_includes/sproutcp' as sprout -%}

{%- set resultsTemplate = options.resultsTemplate is defined ? options.resultsTemplate : "" -%}
{%- set optionsTemplate = options.optionsTemplate is defined ? options.optionsTemplate : "" -%}
{%- set reportSettingsPage = craft.request.getSegment(3) != 'view' ? true : false -%}

{%- if optionContents %}

	{%- namespace 'options' %}
		{{- optionContents|raw -}}
	{% endnamespace -%}

	{% else %}

		{% set boxBody %}
			<p>{{ "Give your users the ability to refine their results with a date range, lightswitch, and more. Build
			custom Twig Template reports with a Craft-friendly look and feel.
			[Learn more]({url})."|t({
					url: "https://sprout.barrelstrengthdesign.com/craft-plugins/reports/docs/custom-reports/custom-twig-template-report"
				})|markdown }}</p>
		{% endset %}

		{{ sprout.mediaBox({
			heading: "Give your users options"|t,
			body: boxBody,
			resourceUrl: resourceUrl('sproutreports/icon.svg'),
			resourceAltText: "Sprout Reports Icon"|t,
		}) }}

{%- endif -%}

<hr>

	<div class="{{ not reportSettingsPage ? 'hidden' }}">

		<p>
			<a href='#' class='fieldtoggle settings {{ optionContents ? 'collapsed' : 'expanded' }}'
				data-target='toggle-templateoptions'>
				{{ "Template Settings"|t }}
			</a>
		</p>

		<div id="toggle-templateoptions" class="{{ optionContents ? 'hidden' : 'expanded' }}">

			{{ forms.textField({
				name: "options[resultsTemplate]",
				label: "Results Template"|t,
				instructions: "The template to use to display results. Learn more about <a
				href='https://sprout.barrelstrengthdesign.com/craft-plugins/reports/docs/custom-reports/custom-twig-template-report'>Results Templates</a>."|raw|t,
				class: "nicetext code",
				required: true,
				first: true,
				placeholder: "_reports/reportname/results",
				value: resultsTemplate,
				errors: errors['resultsTemplate'] is defined ? errors['resultsTemplate'] : null
			}) }}

			{{ forms.textField({
				name: "options[optionsTemplate]",
				label: "Options Template"|t,
				instructions: "The template to use to display options. Learn more about <a
				href='https://sprout.barrelstrengthdesign.com/craft-plugins/reports/docs/custom-reports/custom-twig-template-report'>Options Templates</a>."|raw|t,
				class: "nicetext code",
				placeholder: "_reports/reportname/options",
				value: options.optionsTemplate is defined ? options.optionsTemplate : "",
				errors: errors['optionsTemplate'] is defined ? errors['optionsTemplate'] : null
			}) }}

		</div>

	</div>

{% includeCssResource "sproutreports/css/sproutcp.css" %}