{#
# The base layout template
# ------------------------
#
# This template defines the base HTML structure for our site: the DTD, the
-#}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
	{% block head %}
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="pixelproject and the pixel zoo">
	<link rel="icon" href="{{ siteUrl }}favicon.ico">
	<!-- Bootstrap core CSS & Theme Style -->
	<link rel="stylesheet" type="text/css" href="{{ siteUrl }}css/app.css">
	<link rel="stylesheet" type="text/css" href="{{ siteUrl }}css/style.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150432268-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-150432268-1');
	</script>

	
	{% endblock %}
</head>

<body>
	{% block body %}{% endblock %}

	<!--Bootstrap js -->
	<script src="{{ siteUrl }}js/jquery.js"></script>
	<script src="{{ siteUrl }}js/bootstrap.js"></script>
	<script src="{{ siteUrl }}js/bootstrap-modal-carousel.js"></script> <!-- added for fullscreen slider -->
	<script>
		$(".carousel").on("touchstart", function (event) {
			var xClick = event.originalEvent.touches[0].pageX;
			$(this).one("touchmove", function (event) {
				var xMove = event.originalEvent.touches[0].pageX;
				if (Math.floor(xClick - xMove) > 5) {
					$(this).carousel('next');
				}
				else if (Math.floor(xClick - xMove) < -5) {
					$(this).carousel('prev');
				}
			});
			$(".carousel").on("touchend", function () {
				$(this).off("touchmove");
			});
		});
	</script>
</body>

</html>