{# # Magazine Article template # ----------------- # # This template gets loaded whenever the site's homepage is
requested,
because # the "Homepage" single-entry section's Template setting is set to "index". # # An `entry` variable will be
automatically
passed to this template, which will # be set to the Homepage entry. -#} {% extends "_layouts/site" %} {% block main %}
<!-- Main Content Page -->
<div id="CS-page">

  <!-- magazine Detail-->
  <!-- Side Bar -->
  <section class="content-sidebars row-eq-height">
    <div class="flex-container">
      <!-- left Bar -->
      <aside class="col-xs-12 col-sm-3 side-menu">
        <!-- cover  -->
        <section class="showcase">
          <div id="carousel-featured" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              {% set magazine = entry.articleMagazine.first() %}
              {% set image = entry.articleMagazine.first().magazineCover.first() %}
              {% set magazineId = entry.articleMagazine.first().magazineNumber%}
              {% if image %}
              <div class="item active"><a href="{{magazine.url}}&magazineid={{magazineId}}"><img
                    src="{{image.getUrl('cover')}}" alt="Cover"></a>
              </div>
              {% endif %}
            </div>
          </div>
        </section>
        <!-- Breadcrumbs-->
        <article class="breadcrumb space-top">
          <button type="button" class="btn orange"><a href="#">Elsewhere</a></button>
        </article>
        <nav class="sub-menu">
          <ul class="nav">
            <li>
              <h4>reporting????</h4><a href="magazine-detail.html">????Riot police battle Islamists in Dhaka
                Bangladesh:????</a>
            </li>
            <li>
              <h4>Documentary????</h4><a href="magazine-detail.html">????What Really Happened at Motijheel????</a>
            </li>
            <li>
              <h4>Research Papers????</h4><a href="magazine-detail.html">????Urban Crime and Violence in Dhaka????</a>
            </li>
          </ul>
        </nav>

      </aside>

      <!-- right content -->
      <section class="col-xs-12 col-sm-9 magazine flex-order-first title-header showcase">

        {% set bannerArticle = entry%}
        {% set bannerImage=bannerArticle.articleBanner.first() %}
        {% set bannerTitle = bannerArticle.title is defined ? bannerArticle.title : '' %}
        {% set magazineNumber = bannerArticle.articleMagazineNumber is defined ? bannerArticle.articleMagazineNumber : '' %}
        {% set bannerCategory = bannerArticle.articleCategory.first() is defined ? bannerArticle.articleCategory.first() : '' %}

        {% set articleTitle = entry.title is defined ? entry.title : '' %}
        {% set articleSummary = entry.articleSummary is defined ? entry.articleSummary : '' %}
        {% set articleBody = entry.articleBody is defined ? entry.articleBody : '' %}
        {% set articleAuthor = entry.articleAuthor is defined ? entry.articleAuthor  : '' %}
        {% set articlePostDate= entry.postDate | date("d M, Y") %}

        <article>
          <!--header overlay image-->
          {% if image %}
          <div bannerImage="title-header-image">
            <img src="{{ bannerImage.getUrl() }}" class="img-responsive">
          </div>
          {% endif %}
          <!--carasel caption-->
          <div class="carousel-caption carousel-caption-black">
            <h2>{{bannerCategory}}</h2>
            <h3>{{bannerTitle}}</h3>
          </div>
        </article>

        <article class="space-bottom space-top">
          <p class="intro no-gap"><i>{{articleSummary}}</i></p>
          <h4 class="date date-magazine">Words by <span class="author">{{articleAuthor}}</span> |
            {{articlePostDate }}</h4>
          <!-- social share icons -->
          <div class="social-icons">
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-email"></a>
            <a href="#" class="fa fa-print"></a>
          </div>
          {{articleBody}}
          <hr>

          <blockquote>“XXXX XXXXX XXXXXXX XXXXX XXXX XXXXXXX XXXXX”</blockquote>



          <!-- Gallery Carousel-->
          <section class="showcase slideshow">
            <div id="carousel-gallery" class="carousel slide carousel-fit flex-container" data-ride="carousel">

              <div class="carousel-inner flex-item" role="listbox">

                <!--Gallery Slides -->
                <div class="item active">
                  <img src="images-static/traffic.jpg" alt="Gallery">
                  <div class="carousel-caption caption featured-excerpt">Wedged between two highways, the park shares
                    the Cape Flats wetland with residential neighbours of Hanover Park, Manenberg, Gugulethu, Nyanga
                    and Philippi. Wedged between two highways, the park shares the Cape Flats wetland with residential
                    neighbours of Hanover Park, Manenberg, Gugulethu, Nyanga and Philippi.</div>
                </div>

                <div class="item">
                  <img src="images-static/traffic2.jpg" alt="Gallery">
                  <div class=" carousel-caption caption featured-excerpt">Images for this gallery to be 730px X 390px
                  </div>
                </div>

              </div>

              <!-- Controls (squares)-->
              <a class="left carousel-control square" href="#carousel-gallery" role="button" data-slide="prev">
                <span class="icon-prev" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control square" href="#carousel-gallery" role="button" data-slide="next">
                <span class="icon-next" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
              <a class="fscreen carousel-control square" href="#carousel-gallery" role="button" data-toggle="modal"
                data-target="#myModal" data-local="#carousel-gallery">
                <span class="icon-fscreen" aria-hidden="true"></span>
                <span class="sr-only">Fullscreen</span>
              </a>
            </div>
          </section>

          <!-- Modal -->
          <div class="modal fade modal-fullscreen force-fullscreen" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                </div>
              </div>
            </div>
          </div>




          <hr>
          <p>XXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX</p>
          <p>XXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX
            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX
            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX
            XXXXXXXXXXXXXXXXXXXXX</p>
          <p>UXXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX
            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX
            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX
            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX
            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX
            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX
            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX
            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX
            XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX XXXXXXXXXXXXXXXXXXXXX
            XXXXXXXXXXXXXXXXXXXXX</p>
          <p><span class="article-login"><a href="login.html">Login to read full article</a></span></p>
        </article>
      </section>

    </div>
  </section>


</div>
{% endblock %}