{# # Magazine template # ----------------- # # This template gets loaded whenever the site's homepage is requested,
because
# the "Homepage" single-entry section's Template setting is set to "index". # # An `entry` variable will be
automatically
passed to this template, which will # be set to the Homepage entry. -#}
{% extends "_layouts/site" %}
{% block main %}
<!-- magazine -->
<!-- Main Content Page -->
<div id="CS-page">
    <!-- Side Bar -->
    <section class="content-sidebars">
        <!-- left Bar -->
        <aside class="col-xs-12 col-sm-3 side-menu">
            <!-- Showcase -->
            <!-- cover PG 1-->
            {% set magazineId = craft.request.getParam('magazineid') %}
            {% set magazineEntries = craft.entries.section(['magazines']).limit(null) %}

            {% if not magazineId %}
            {% set magazineId = magazineEntries.total()%}
            {% endif %}

            <section class="showcase collapse pgin from1-3 from1-2" id="pg1">
                <div class="carousel slide" data-interval="false" data-ride="carousel" id="carousel-cover">
                    <div class="carousel-inner" role="listbox">


                        {% set prevdisplay = 0%}
                        {% set nextdisplay = 8 %}
                        <!--Slides -->

                        {% for magazine in magazineEntries %}
                        {% if loop.index >=prevdisplay and loop.index <= nextdisplay %}
                        <!-- -->
                        {% set image=magazine.magazineCover.first() %}
                        {% if image %}
                        {% if loop.index==magazineId%}
                        <div class="item active">
                            <a href="{{ magazine.url }}&magazineid={{loop.index}}"><img
                                    src="{{ image.getUrl('cover') }}" alt="Cover"></a>
                        </div>
                        {% else %}
                        <div class="item">
                            <a href="{{ magazine.url }}&magazineid={{loop.index}}"><img
                                    src="{{ image.getUrl('cover') }}" alt="Cover"></a>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}

                        <!--pagination-->
                        <div class="cover-paging">
                            <div class="breadcrumbs">
                                <ul class="carousel-indicators carousel-pagin">
                                    {% for magazine in magazineEntries %}
                                    {% set pageid = loop.index %}
                                    {% set clickid = loop.index-1 %}
                                    {% if loop.index >=0 and loop.index <= nextdisplay %}
                                    <!-- -->
                                    {% if loop.index==magazineId%}
                                    <li data-target="#carousel-cover" data-slide-to="{{clickid}}"
                                        class="btn grey active">{{pageid}}</li>
                                    {% else %}
                                    <li data-target="#carousel-cover" data-slide-to="{{clickid}}" class="btn grey">
                                        {{pageid}}</li>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </ul>

                                {% if magazineEntries.total() > nextdisplay %}
                                <ul>
                                    <li class="btn pagenav">
                                        <a data-target=".from1-2" data-toggle="collapse">&gt</a>
                                    </li>
                                </ul>
                                {% endif %}

                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <!-- cover PG2 -->
            <section class="showcase collapse from2-3 from1-2" id="pg2">

                <div class="carousel slide" data-interval="false" data-ride="carousel" id="carousel-cover2">
                    <div class="carousel-inner" role="listbox">
                        <!--Slides -->

                        {% set prevdisplay = 9%}
                        {% set nextdisplay = 15 %}
                        <!--Slides -->
                        {% set magazineEntries = craft.entries.section(['magazines']).limit(null) %}


                        {% for magazine in magazineEntries %}
                        {% if loop.index >=prevdisplay and loop.index <= nextdisplay %}
                        <!-- -->
                        {% set image=magazine.magazineCover.first() %}
                        {% if image %}
                        {% if loop.index==prevdisplay%}
                        <div class="item active">
                            <a href="{{ magazine.url }}&magazineid={{loop.index}}"><img
                                    src="{{ image.getUrl('cover') }}" alt="Cover"></a>
                        </div>
                        {% else %}
                        <div class="item">
                            <a href="{{ magazine.url }}&magazineid={{loop.index}}"><img
                                    src="{{ image.getUrl('cover') }}" alt="Cover"></a>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}

                        <!--pagination-->
                        <div class="cover-paging">
                            <div class="breadcrumbs">
                                <ul>
                                    <li class="btn pagenav">
                                        <a data-target=".from1-2" data-toggle="collapse">&lt</a>
                                    </li>
                                </ul>
                                <ul class="carousel-indicators carousel-pagin">
                                    {% for magazine in magazineEntries %}
                                    {% set pageid = loop.index %}
                                    {% set clickid = loop.index-prevdisplay %}
                                    {% if loop.index >=prevdisplay and loop.index <= nextdisplay %}
                                    <!-- -->
                                    {% if loop.index==prevdisplay%}
                                    <li data-target="#carousel-cover2" data-slide-to="{{clickid}}"
                                        class="btn grey active">{{pageid}}</li>
                                    <!-- <li data-target="#carousel-cover2" data-slide-to="0" class="btn grey active">{{pageid}}</li>-->
                                    {% else %}
                                    <li data-target="#carousel-cover2" data-slide-to="{{clickid}}" class="btn grey">
                                        {{pageid}}</li>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                                {% if magazineEntries.total() > nextdisplay%}
                                <ul>
                                    <li class="btn pagenav">
                                        <a data-target=".from2-3 " data-toggle="collapse">&gt</a>
                                    </li>
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- cover PG3 -->
            <section class="showcase collapse from1-3 from2-3" id="pg3">

                <div class="carousel slide" data-interval="false" data-ride="carousel" id="carousel-cover3">
                    <div class="carousel-inner" role="listbox">
                        <!--Slides -->

                        {% set prevdisplay = 16%}
                        {% set nextdisplay = 22 %}
                        <!--Slides -->
                        {% set magazineEntries = craft.entries.section(['magazines']).limit(null) %}


                        {% for magazine in magazineEntries %}
                        {% if loop.index >=prevdisplay and loop.index <= nextdisplay %}
                        <!-- -->
                        {% set image=magazine.magazineCover.first() %}
                        {% if image %}
                        {% if loop.index==prevdisplay%}
                        <div class="item active">
                            <a href="{{ magazine.url }}&magazineid={{loop.index}}"><img
                                    src="{{ image.getUrl('cover') }}" alt="Cover"></a>
                        </div>
                        {% else %}
                        <div class="item">
                            <a href="{{ magazine.url }}&magazineid={{loop.index}}"><img
                                    src="{{ image.getUrl('cover') }}" alt="Cover"></a>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}

                        <!--pagination-->
                        <div class="cover-paging">
                            <div class="breadcrumbs">
                                <ul>
                                    <li class="btn pagenav">
                                        <a data-target=".from2-3" data-toggle="collapse">&lt</a>
                                    </li>
                                </ul>
                                <ul class="carousel-indicators carousel-pagin">
                                    {% for magazine in magazineEntries %}
                                    {% set pageid = loop.index %}
                                    {% set clickid = loop.index-prevdisplay %}
                                    {% if loop.index >=prevdisplay and loop.index <= nextdisplay %}
                                    <!-- -->
                                    {% if loop.index==prevdisplay%}
                                    <li data-target="#carousel-cover3" data-slide-to="{{clickid}}"
                                        class="btn grey active">{{pageid}}</li>
                                    <!-- <li data-target="#carousel-cover2" data-slide-to="0" class="btn grey active">{{pageid}}</li>-->
                                    {% else %}
                                    <li data-target="#carousel-cover3" data-slide-to="{{clickid}}" class="btn grey">
                                        {{pageid}}</li>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                                {% if magazineEntries.total() > nextdisplay%}
                                <ul>
                                    <li class="btn pagenav">
                                        <a data-target=".from1-3" data-toggle="collapse">&gt</a>
                                    </li>
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- New placeholder for height -->
            <section class="showcase collapse pgin" id="pg-placeholder">

                <div class="carousel slide " data-interval="false" data-ride="carousel" id="carousel-cover">
                    <div class="carousel-inner" role="listbox">
                        <!--Slides -->

                        <div class="item active .pagin-placeholder"><img alt="Cover" src="images/cover-placeholder.png">
                        </div>

                    </div>
                </div>
            </section>

            <!--old placeholder for height
                                                                                                                                                                                                                                                                                                                                    <div class="showcase pagin-placeholder flex-container"><img src="images/magazine-cover-placeholder.png" alt="Cover"></div>
                                                                                                                                                                                                                                                                                                                                    -->
        </aside>

        <!-- right content -->


        <section class="showcase magazine col-xs-12 col-sm-9 title-header hidden-xs">

            {% set bannerArticle = entry.magazineArticles.first()%}
            {% set image=bannerArticle.articleBanner.first() %}
            {% set title = bannerArticle.title is defined ? bannerArticle.title : '' %}
            {% set magazineNumber = bannerArticle.articleMagazineNumber is defined ? bannerArticle.articleMagazineNumber : '' %}
            {% set category = bannerArticle.articleCategory.first() is defined ? bannerArticle.articleCategory.first() : '' %}


            <!-- Breadcrumbs-->
            <div class="breadcrumb">
                <a href="{{ bannerArticle.url }}">
                    <button class="btn orange" type="button">#{{magazineNumber}}/{{category}}</button>
                </a>
            </div>
            <article class="carousel-inner">
                <!--header overlay image-->
                {% if image %}
                <div class="title-header-image">
                    <a href="{{ bannerArticle.url }}"> <img src="{{ image.getUrl() }}" class="img-responsive"></a>
                </div>
                {% endif %}
                <!--carasel caption-->
                <a href="{{bannerArticle.url}}">
                    <div class="carousel-caption">
                        <h2>{{category}}</h2>
                        <h3>
                            {{title}}
                        </h3>
                    </div>
                </a>

            </article>
        </section>
    </section>

    <div class="page-content">
        <!-- Cover sections Grid -->
        <!-- nested cols left side 2 | 1-->
        <section class="content-grid cover mixed col-sm-4 invert">
            <!-- section Breadcrumbs-->
            <article class="breadcrumbs">
                <button class="btn orange no-click" type="button">Intelligence</button>
            </article>

            {% for article in craft.entries.section('articles').limit(null) %}
            {% if article.articleMagazine.first().id == entry.id %}
            {% if article.articleCategory.first()== "Intelligence" %}
            {% set image=article.articleBanner.first() %}
            {% if image %}
            <!--Cover recommended article-->
            <a href="{{article.url}}">
                <article class="cover-recommend sunny col-xs-12">
                    <img src="{{ image.getUrl('magazineCardLandscape') }}" alt="Cover">
                    <h1>{{article.title}}</h1>
                    {{article.articleSummary}}
                </article>
                {% else %}
                <!-- <article class="cover-headline sunny col-xs-12">-->
                <!-- <h1><a href="{{article.url}}">{{article.title}}</a></h1>-->
                <!-- </article>-->
                {% endif %}
            </a>
            {% endif %}
            {% endif %}
            {% endfor %}
        </section>

        <!-- Cover sections Grid -->
        <!-- nested cols right side 2 | 1-->

        <section class="content-grid cover mixed col-sm-8 invert ">
            <!-- section Breadcrumbs-->
            <article class="breadcrumbs">
                <button class="btn orange no-click" type="button">Reporting, Interviews & Conversations</button>
            </article>

            {% for article in craft.entries.section('articles').limit(null) %}
            {% if article.articleMagazine.first().id == entry.id %}
            {% if article.articleCategory.first()== "Conversations" %}
            {% set image=article.articleBanner.first() %}
            {% if image %}
            <a href="{{article.url}}">
                <article class="cover-recommend pink col-xs-6">
                    <img src="{{ image.getUrl('magazineCardLandscape') }}" alt="Cover">
                    <h1>{{article.title}}</h1>

                    {{article.articleSummary}}
                    <h4>{{article.articleAuthor}}</h4>
                </article>
                {% else %}

                {% endif %}
            </a>
            {% endif %}
            {% endif %}
            {% endfor %}
        </section>


        <!-- title blocks breadcrumbs -->
        <section class="content-text counting-block flex-container">

            {% set count=1 %}
            {% if entry.magazineWideAngles | length %}


            <article class="title-block title-red count-wide flex-item">
                <h2>Wide Angle</h2>
            </article>
            <ul class="nav nav-tabs">
                {% for block in entry.magazineWideAngles %}
                {% if loop.index==1%}
                <li class="active">
                    {% else %}
                <li>
                    {% endif %}
                    <article class="title-block count">
                        <h2>
                            <a data-toggle="tab" href="#carousel-photo{{count}}">{{count}}</a>
                        </h2>
                    </article>
                </li>
                {% set count =count+1 %}
                {% endfor %}
            </ul>


            {% endif %}
        </section>

    </div>


    <!--Magazine Slider -->
    <section class="showcase gallery showcase-magazine tab-content">
        {% set count=1 %}
        {% for block in entry.magazineWideAngles %}
        {% set styleid='carousel-photo' %}
        <!--tab content slideshow -->
        {% if loop.index==1%}
        <div id="{{styleid}}{{count}}" class="carousel tab-pane in active slide carousel-fit flex-container"
            data-ride="carousel">
            {% else %}
            <div id="{{styleid}}{{count}}" class="carousel tab-pane  slide carousel-fit flex-container"
                data-ride="carousel">
                {% endif %}
                <div class="carousel-inner flex-item" role="listbox">
                    <!-- Slides -->
                    {% for image in block.images %}
                    {% if image %}
                    {% if loop.index==1%}
                    <div class="item active fill">
                        {% else %}
                        <div class="item fill">
                            {% endif %}
                            <div class="fill"><img src="{{ image.getUrl('wideAngle') }}" alt="Gallery"></div>
                            <div class="carousel-caption">
                                <div class="photo-caption">
                                    <h2>{{image.title}}</h2>
                                    <h3>
                                        <a href="#">{{image.caption}}</a>
                                    </h3>
                                </div>
                                <div class="featured-excerpt col-sm-12">{{image.excerpt}}</div>
                            </div>
                        </div>

                        {% endif %}
                        {% endfor %}
                    </div>
                    <!-- Controls Squares-->
                    <a " role=" button" data-slide=" class=" left carousel-control square" href="#{{styleid}}{{count}}"
                        prev">
                        <span aria-hidden="true" class="icon-prev"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a " role=" button" data-slide=" class=" right carousel-control square" href="#{{styleid}}{{count}}"
                        next">
                        <span aria-hidden="true" class="icon-next"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <a class="fscreen carousel-control square" href="#{{styleid}}{{count}}" " role=" button"
                        data-toggle=" modal" data-target=" #myModal" data-local=" # {{styleid}} {{count}} ">
                        <span aria-hidden="true" class="icon-fscreen"></span>
                        <span class="sr-only">Fullscreen</span>
                    </a>
                </div>


                {% set count =count+1 %}
                {% endfor %}


    </section>


    <!-- Modal -->
    <div class="modal fade modal-fullscreen force-fullscreen" id="myModal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>


    </section>

</div>
{% endblock %}