{# # Homepage template # ----------------- # # This template gets loaded whenever the site's homepage is requested,
because
# the "Homepage" single-entry section's Template setting is set to "index". # # An `entry` variable will be
automatically
passed to this template, which will # be set to the Homepage entry. -#}
{% extends "_layouts/site" %}
{% block main %}
<!-- Main Content Page -->
<!-- Homepage-->
<div class=" flex-container" id="CS-page">
    <!-- Showcase with slideshow-->

    <section class="showcase slideshow flex-order-first">
        <div class="carousel slide carousel-fit flex-container" data-ride="carousel" id="carousel-featured">
            <div class="carousel-inner flex-item" role="listbox">

                {% set count=1 %}
                {# Loop through this banner entries#}

                {% for banner in entry.homeBanners%}
                {% set bannerTitle = banner.title is defined ? banner.title : '' %}
                {% set bannerCategory = banner.articleCategory.first() is defined ? banner.articleCategory.first() : '' %}
                {% set bannerTheme = banner.articleMagazine.first() is defined ? banner.articleMagazine.first().magazineTheme : '' %}
                {% set image=banner.articleBanner.first() %}

                {% if image %}
                {% if loop.index==1%}
                <div class="item active fill">
                    <article class="breadcrumb">
                        <a href="{{ banner.url }}">
                            <button class="btn orange"
                                type="button">#{{banner.articleMagazineNumber}}/{{bannerTheme}}</button>
                        </a>
                    </article>
                    <div class="fill">
                        <img src="{{ image.getUrl('banner') }}" alt="Featured">
                    </div>
                    <div class="carousel-caption carousel-caption-black carousel-caption-home">
                        <h2>{{ bannerCategory}}</h2>
                        <h3>
                            <a href="{{ banner.url }}">{{ bannerTitle}}</a>
                        </h3>
                    </div>
                </div>
                {% else %}
                <div class="item fill">

                    <article class="breadcrumb">
                        <a href="{{ banner.url }}">
                            <button class="btn orange"
                                type="button">#{{banner.articleMagazineNumber}}/{{bannerTheme}}</button>
                        </a>
                    </article>
                    <div class="fill">
                        <img src="{{ image.getUrl('banner') }}" alt="Featured">
                    </div>
                    <div class="carousel-caption carousel-caption-black carousel-caption-home">
                        <h2>{{ bannerCategory}}</h2>
                        <h3>
                            <a href="{{ banner.url }}">{{ bannerTitle}}</a>
                        </h3>
                    </div>
                </div>
                {% endif %}

                {% endif %}
                {% set count =count+1 %}
                {% endfor %}
            </div>

            <!-- Controls Squares-->
            <a class="left carousel-control square" data-slide="prev" href="#carousel-featured" role="button">
                <span aria-hidden="true" class="icon-prev"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control square" data-slide="next" href="#carousel-featured" role="button">
                <span aria-hidden="true" class="icon-next"></span>
                <span class="sr-only">Next</span>
            </a>
            <a class="fscreen carousel-control square" data-local="#carousel-featured" data-target="#myModal"
                data-toggle="modal" href="#carousel-featured" role="button">
                <span aria-hidden="true" class="icon-fscreen"></span>
                <span class="sr-only">Fullscreen</span>
            </a>
        </div>
    </section>


    <!-- Modal -->
    <div class="modal fade modal-fullscreen force-fullscreen" id="myModal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>


    <div class="home-content">
        <!-- Cover sections Grid -->
        <!-- nested cols left side 2 | 1 with flexorder-->
        <section class="content-grid cover mixed col-sm-8 flex-item">

            <article class="breadcrumbs">
                <button class="btn orange no-click" type="button">Magazine</button>
            </article>

            {% set allowBuy=false %}
            <!--Cover thumbnails-->
            {# Loop through this pages magazine and film entries#}
            {% set itemOrder = entry.homeMagazines %}
            {% for item in itemOrder%}
            {% set magazineId = item.magazineNumber %}
            {% set filmId = item.filmNumber %}
            {% set magazineImage = item.magazineCover.first()%}
            {% set filmImage = item.filmCover.first()%}
            {% if magazineImage %}

            <article class="col-xs-6">
                {% if item.magazineAvailable %}
                <!--Magazine Available-->
                {% if allowBuy %}
                <a href="{{ item.url }}&magazineid={{magazineId}}">
                    <button class="btn" type="button">Buy issue</button>
                </a>
                {% else %}
                <a href="{{ item.url }}&magazineid={{magazineId}}">
                    <button class="btn" type="button">Order available soon</button>
                </a>
                {% endif %}
                <a href="{{ item.url }}&magazineid={{magazineId}}">
                    <img src="{{ magazineImage.getUrl('cover') }}" alt="View issue"></a>
                {% else %}
                <!--Sold out-->
                {% if allowBuy %}
                <button class="btn sold" type="button">Sold out</button>
                {% else %}
                <button class="btn sold" type="button">Sold out</button>
                {% endif %}
                <a href="{{ item.url }}&magazineid={{magazineId}}">
                    <img src="{{ magazineImage.getUrl('cover') }}" alt="View issue"></a>
                {% endif %}
            </article>
            {% endif %}

            {% if filmImage %}
            <article class="col-xs-6">
                {% if item.filmAvailable %}
                <!--Film Available-->
                {% if allowBuy %}
                <a href="{{ item.url }}&magazineid={{filmId}}">
                    <button class="btn" type="button">View Film</button>
                </a>
                {% endif %}
                <a href="{{ item.url }}&magazineid={{filmId}}">
                    <img src="{{ filmImage.getUrl('cover') }}" alt="View issue"></a>
                {% else %}
                {% if allowBuy %}
                <button class="btn sold" type="button">Not available</button>
                {% endif %}
                <a href="{{ item.url }}&magazineid={{filmId}}">
                    <img src="{{ filmImage.getUrl('cover') }}" alt="Not available"></a>
                {% endif %}
            </article>
            {% endif %}

            {% endfor %}

            <!--blank cover
                                                        <article class="col-xs-6 hidden-xs">
                                                          <img src="images/cover-placeholder.png">
                                                        </article>
                                                
                                                        <article  class="col-xs-6 hidden-xs">
                                                          <img src="images/cover-placeholder.png">
                                                        </article>-->

        </section>

        <!-- Recommend Piece Grid-->
        <!-- nested cols right side 2 | 1-->
        <section class="content-grid cover mixed col-sm-4 flex-item flex-order-first">
            <article class="breadcrumbs">
                <button class="btn orange no-click" type="button">Recommended</button>
            </article>

            <!--Cover recommended article-->


            {# Loop through this pages magazine entries#}
            {% for recommended in entry.homeRecommended %}





            {% if recommended.articleCategory.first() %}
            {% set articleImage = recommended.articleBanner.first()%}

            {% set articleCategoryColour = recommended.articleCategory.first().categoryColour  ? recommended.articleCategory.first().categoryColour.first().colourPicker:"#CCCCCC" %}
            <article class="cover-recommend col-xs-12" style="background: {{articleCategoryColour}}">
                <!--add colour background-->
                {% if articleImage %}
                <a href="{{ recommended.url }}">
                    <img src="{{ articleImage.getUrl('recommend') }}" alt="recommended">
                </a>
                {% else %}
                <a href="{{ recommended.url }}">
                    <img src="images-static/recommend-blank.jpg" alt="recommended" width="695" height=""
                        style="opacity: 0.5">
                </a>

                {% endif %}

                <h2>{{ recommended.articleCategory.first() }}</h2>
                <h1>
                    <a href="{{ recommended.url }}">
                        {{ recommended.title }}</a>
                </h1>
                <p>{{ recommended.articleSummary|trimit(120) }}</p>
                <h4>{{ recommended.articleAuthor }}</h4>
            </article>
            {% elseif recommended.projectCategory.first()%}
            {% set articleImage = recommended.projectBanner.first()%}
            {% set articleCategoryColour = recommended.projectCategory.first().categoryColour  ? recommended.projectCategory.first().categoryColour.first().colourPicker:"#CCCCCC" %}
            <article class="cover-recommend col-xs-12" style="background: {{articleCategoryColour}}">
                <!--add colour background-->
                {% if articleImage %}
                <a href="{{ recommended.url }}">
                    <img src="{{ articleImage.getUrl('recommend') }}" alt="recommended">
                </a>
                {% else %}
                <a href="{{ recommended.url }}">
                    <img src="images-static/recommend-blank.jpg" alt="recommended" width="695" height=""
                        style="opacity: 0.5">
                </a>

                {% endif %}

                <h2>{{ recommended.articleCategory.first() }}</h2>

                <h1>
                    <a href="{{ recommended.url }}">
                        {{ recommended.title }}</a>
                </h1>
                <p>{{ recommended.articleSummary|trimit(120) }}</p>
                <h4>{{ recommended.articleAuthor }}</h4>
            </article>


            {% elseif recommended.dispatchesCategory.first()%}
            {% set articleImage = recommended.dispatchBanners.first()%}
            {% set articleCategoryColour = recommended.dispatchesCategory.first().categoryColour  ? recommended.dispatchesCategory.first().categoryColour.first().colourPicker:"#CCCCCC" %}
            <article class="cover-recommend col-xs-12" style="background: {{articleCategoryColour}}">
                <!--add colour background-->
                <a href="{{ site.url }}/dispatches">
                    {% if articleImage %}

                    <img src="{{ articleImage.getUrl('recommend') }}" alt="recommended">

                    {% else %}
                    <a href="{{ site.url }}/dispatches">
                        <img src="images-static/recommend-blank.jpg" alt="recommended" width="695" height=""
                            style="opacity: 0.5">
                    </a>

                    {% endif %}

                    <h2>{{ recommended.articleCategory.first() }}</h2>
                    <h1>
                        <a href="{{ site.url }}/dispatches">
                            {{ recommended.title }}</a>
                    </h1>
                    <p>{{ recommended.articleSummary|trimit(120) }}</p>
                    <h4>{{ recommended.articleAuthor }}</h4>
            </article>

            <!--Downloads off for now -->
            {% set allowDownloads=false %}
            {% if articleImage %}
            {% elseif recommended.downloadsCategory.first()%}
            {% set articleImage = recommended.downloadsCover.first()%}
            {% set articleCategoryColour = recommended.downloadsCategory.first().categoryColour  ? recommended.projectCategory.first().downloadsCategory.first().colourPicker:"#CCCCCC" %}
            <article class="cover-recommend col-xs-12" style="background: {{articleCategoryColour}}">

                {% if articleImage %}
                <a href="{{ recommended.url }}">
                    <img src="{{ articleImage.getUrl('recommend') }}" alt="recommended">
                </a>
                {% else %}
                <a href="{{ recommended.url }}">
                    <img src="images-static/recommend-blank.jpg" alt="recommended" width="695" height=""
                        style="opacity: 0.5">
                </a>

                {% endif %}

                <h2>{{ recommended.articleCategory.first() }}</h2>
                <h1>
                    <a href="{{ recommended.url }}">
                        {{ recommended.title }}</a>
                </h1>
                <p>{{ recommended.articleSummary|trimit(120) }}</p>
                <h4>{{ recommended.articleAuthor }}</h4>
            </article>


            {% endif %}
            {% endif %}

            {% endfor %}

        </section>
    </div>
</div>


</section>
</div>
{% endblock %}