<!-- Text and Grid-->
<section class="content-text space-top space-bottom">
    <article class="title-block">
        <h2>{{entry.title}}</h2>
    </article>
    {{entry.projectsAbout}}
</section>

<!-- Text and Grid-->
<section class="content-text">
    <article class="title-block">
        <h2>Project Team</h2>
    </article>
</section>
<section class="content-grid thumbnails">

    {# Loop through this pages people entries#}
    {% for block in entry.projectTeam %}
    {% set image = block.image.first()%}
    {% if image %}

    <article class="col-xs-6 col-sm-4">
        <img src="{{ image.getUrl('person') }}" alt="Thumbnail" class="img-responsive">
        <p><span class="person"><b>{{block.fullname}}</b>({{block.role}})</span></p>{{block.bio}}
    </article>

    {% endif %}
    {% endfor %}



</section>

<!-- Text and Grid-->
<section class="content-text">
    <article class="title-block">
        <h2>Members</h2>
    </article>
</section>

<section class="content-grid thumbnails">

    {# Loop through this pages people entries#}
    {% for block in entry.projectPartners %}
    {% set image = block.image.first()%}
    {% if image %}

    <article class="col-xs-6 col-sm-4">
        <img src="{{ image.getUrl('person') }}" alt="Thumbnail" class="img-responsive">
        <p><span class="person"><b>{{block.fullname}}</b>({{block.role}})</span></p>{{block.bio}}
    </article>

    {% endif %}
    {% endfor %}


</section>