{% extends "_layouts/site" %}
{% block main %}
<!-- Main Content Page -->
<div id="CS-page">

    <!-- Image showcase -->
    <section class="showcase title-header">



        <article>
            <!--header overlay image-->
            {% set projectId = "cspraxis" %}
            {% set section = craft.request.getParam('section') %}
            {% set image = entry.projectBanner.first() %}
            {% set title = entry.title is defined ? entry.title : '' %}
            {% set subTitle = entry.subTitle is defined ? entry.subTitle : '' %}
            {% set category = entry.projectCategory.first() is defined ? entry.projectCategory.first() : '' %}

            <div class="title-header-image fill">

                {% if image %}
                <img src="{{image.getUrl('projectbanner')}}" alt="Cover" />
                {% endif %}
            </div>
            <!--title-->
            <div class="title-header-overlay vert-center">
                <h2 class="tag">{{category}}</h2>
                <h2 class="title">{{title}}</h2>
                <p>{{subTitle}}</P>
            </div>
        </article>
    </section>

    <!-- Projects Sub nav breadcrumbs- for the 100% wide-->
    <section class="content-text breadcrumbs">

        {% set currentAbout= "" %}
        {% set currentResources= "" %}
        {% set currentBlog= "" %}


        {% if section == "" %}
        {% set currentAbout= "current" %}
        {% endif %}


        {% if section == "about" %}
        {% set currentAbout= "current" %}
        {% endif %}

        {% if section == "resources" %}
        {% set currentResources= "current" %}
        {% endif %}

        {% if section == "blog" %}
        {% set currentBlog= "current" %}
        {% endif %}



        <article>
            <a href="{{ siteUrl }}cspraxis?section=about" class=" btn orange {{currentAbout}}">
                about the project</button></a>
        </article>
        <article>
            <a href="{{ siteUrl }}cspraxis?section=resources"
                class=" btn orange {{currentResources}}">Resources</button></a>
        </article>
        <article>
            <a href="{{ siteUrl }}cspraxis?section=blog" class="btn orange {{currentBlog}}">Project
                Blog</button></a>
        </article>
    </section>

    <div class="page-content">

        {% if section == "" %}
        {% include "cspraxis/about" %}
        {% endif %}

        {% if section == "about" %}
        {% include "cspraxis/about" %}
        {% endif %}

        {% if section == "resources" %}
        {% include "projects/resources" %}
        {% endif %}

        {% if section == "blog" %}
        {% include "projects/blog" %}
        {% endif %}


    </div>
</div>
{% endblock %}